/*
     * ******************************************************
     * .template-memberspace styles.
     * ******************************************************
     */
.template-member-space {
    line-height: 1;
    cursor: default;
    width:100%;
    background-color: #e6f5d1;
    height: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.template-member-space #visual-table-wrapper{
    margin-top:0;
    margin:0px auto !important;
    margin-bottom:0;
    padding:0;
    text-align:left;
    height: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.template-member-space #visual-table-wrapper {
    width:1054px !important;
}
.template-member-space td.left-column {
    background: url(/static/images/shadow_left.gif) repeat-y scroll right center;
    height:100%;
    width:7px !important;
}
.template-member-space td.right-column {
    background: url(/static/images/shadow_right.gif) repeat-y scroll left center;
    height:100%;
    width:7px !important;
}
.template-member-space #portal-logo img {
    border:0 none;
    margin:0 0 1em;
    padding:0;
}
.template-member-space #portal-searchbox {
    background:transparent;
    float: right;
    margin:0 0 0;
    padding: 2px 1em 0 0;
    text-align:right;
    text-transform:none;
    white-space:nowrap;
    z-index:2;
}
.template-member-space .documentEditable .documentContent {
    border: 0px;
}
/*Navigation styles - member space*/
.template-member-space div#portal-globalnav {
    height:1.5em;
    position:relative;
}

.template-member-space div#portal-globalnav ul.level0 {
    background: #fff;
    line-height: normal;
    list-style-type: none;
    padding: 0 0 0 0em;
    margin-left: 0em;
    white-space: nowrap;
    width: 100%;
    height:1.7em;
    border-bottom:1px solid #A9CD76;
}
.template-member-space div#portal-globalnav ul.level0 a{
    background: #fff;
    border-color: #a9cd76 #a9cd76 #a9cd76;
    margin-left: 8px;
    height: 17px;
}
.template-member-space div#portal-globalnav ul.level0 li a:hover{
    background: #d1eaae;
    border-color: #a9cd76 #a9cd76 #a9cd76;
    margin-left: 8px;
    height: 17px;
}
.template-member-space div#portal-globalnav ul.level0 li.selected {
    background:#d1eaae;
    border-top: 0.5px solid #513268;
}
.template-member-space div#portal-globalnav ul.level0 li.selected a{
    background:#d1eaae;
    border-top: 0.5px solid #a9cd76;
    border-left: 1px solid #a9cd76;
    border-right: 1px solid #a9cd76;
    border-bottom: 5px solid #d1eaae;
}
.template-member-space div#portal-globalnav ul.level0 li#portaltab- a {
    background: #a9cd76;
    border-color: #a9cd76 #a9cd76 #a9cd76;
    font-weight: normal;
    height: 1em;
}
.template-member-space div#portal-globalnav-bottom {
    padding-top:1.8em;
    border: 1px solid #d1eaae;
    background: #d1eaae;
}
.template-member-space #portal-personaltools {
    margin: -2em 0 2em;
    background: #d1eaae;
    border-top: 1px solid #d1eaae;
    border-bottom: 1px solid #d1eaae;
    float:right;
    padding:0 1em;
}
/*on the homepage - display the first tab as selected*/
.template-member-space #portal-globalnav .level0 #portaltab- {
    display: none;
}
.template-member-space div#portal-globalnav ul.level1{
    width: 70em;
    height: 1.60em;
}
.template-member-space #portal-breadcrumbs {
    margin-top: 1.5em;
    background: #fff;
    border-top:1px solid #A9CD76;
    border-bottom:1px solid #A9CD76;
}
/* end of .template-member-space styles */
