.yui-skin-sam tr.schedule-text-item{
    background-color: #EBE9D2;
    text-transform:italic;
}

.schedule-available-item-filters{
    margin:0.2em 0em;
    padding:0.2em;
}

.schedule-available-item-filters button em {
    font-style: normal;
    display: block;
    text-align: left;
    white-space: nowrap;
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
}

