Section: misc
Priority: optional
Maintainer: Ashok Hariharan <ashok@parliaments.info>, Samuel Weru <samweru@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.bungeni.org
Package: __PACKAGE_NAME__
Version: __VERSION__
Architecture: __ARCH__
Installed-Size: __SIZE__
Depends: __DEPENDS__
Description: Glue Update 1.0
