/* - forms.css - */
@media screen {
/*
** Plone style sheet - Form Elements
**
** Style sheet documentation can be found at http://plone.org/documentation
**
** You should preferrably use ploneCustom.css to add your own CSS classes and to
** customize your portal, as these are the base fundaments of Plone, and will
** change and be refined in newer versions. Keeping your changes in
** ploneCustom.css will make it easier to upgrade.
**
** Feel free to use whole or parts of this for your own designs, but give credit
** where credit is due.
**
*/

/*  (do not remove this :) */
/*  (not this either :) */

textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    border: 1px solid #ddd;
    border-color:#666 #ddd #ddd #666;
    color: Black;
    background: White url(input_background.gif) repeat-x;
    width: 100%;
}
input {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    visibility: visible;
    border: 1px solid #ddd;
    border-color:#666 #ddd #ddd #666;
    color: Black;
    vertical-align: top;
    background: transparent;
    font-size: 1em;
    clear: left;
    background: #fff;
}

.actionButtons {
    display: block;
    height: 25px;
    padding-left: .5em;
}

/* Code to work around IE's lacking support of sub-elements of the input element */
.noborder,
.documentEditable * .noborder {
    border: none;
    margin: 0;
    background: none;
    background-color: transparent;
}

input[type=checkbox] {
    border: none;
    margin: 0;
    background: none;
    background-color: transparent;
}


#searchGadget {
    border: 1px solid #8cacbb;
}

button {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    /* visibility: visible; */
    border: 1px solid #8cacbb;
    color: Black;
    vertical-align: middle;
    background-color: #dee7ec;
    padding: 1px;
    cursor: pointer;
    font-size: 90%;
    text-transform: none;
}
select {
    vertical-align: top;
}
form {
    border: none;
    margin: 0;
}
fieldset {
    border: 1px solid #8cacbb;
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
    width: auto;
}
legend {
    background: White;
    padding: 0.5em;
    font-size: 90%;
}
label {
    font-weight: bold !important;
    color: #444;
}
optgroup {
  font-style: normal;
  font-weight: bold;
  color: #999;
  padding-left: 0.25em;
}
option {
  color: black;
}
optgroup > option {
  padding: 0 0.25em 0 1em;
}

dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}

#login-form {
    width: 30em; 
    margin: 0 auto;
}
#login-form .field {
    clear: none;
}
#login-form input {
    font-size: 150%;
}
#login-form input.context {
    padding: 1px 10px 1px 20px;
    background-position: 9px 5px;
    margin-bottom: 1em;
}
#forgotten-password {
    float: right; 
    width: 35%; 
    margin: 0 1em;
}

.standalone,
.documentEditable * .standalone {
    background: #dee7ec url(linkOpaque.gif) 9px 1px no-repeat;
    color: Black;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 15px;
    text-transform: none;
    border: 1px solid #8cacbb;
}
.context,
.formControls .actionButtons .button,
.documentEditable * .context {
    background: #fff url(linkTransparent.gif) 5px 3px no-repeat;
    color: #222;
    cursor: pointer;
    font-size: 90%;
    /*padding: 1px 1px 1px 15px;*/
    padding: 0;
    padding-right: .25em;
    padding-left: 15px;
    line-height: 16px;
    height: 22px;
    text-transform: none;
    border: 1px solid #8cacbb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.context:hover,
.formControls .actionButtons .button:hover,
.documentEditable * .context:hover {
    background-color: #ccf;
}
.context:active,
.formControls .actionButtons .button:active,
.documentEditable * .context:active {
    margin-top: 1px;
}
.destructive,
.documentEditable * .destructive {
    background: #ffce7b url(linkTransparent.gif) 9px 1px no-repeat;
    border: 1px solid #ffa500;
    color: Black;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 15px;
    text-transform: none;
    border: 1px solid #8cacbb;
}

.actionButtons input.ac_button_disabled{
    background-color: #ccc;
    border:1px solid #444;
    color:#666;
}

input.searchButton {
    margin-bottom: 1px ! important;
    color: Black;
    font-size: 90%;
    cursor: pointer;
    padding: 1px 1px 1px 19px;
    text-transform: none;
    border: 1px solid #8cacbb;
}
.searchSection {
    color: #76797c;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: Black;
}

/* The edit form elements */
.field {
    top: 0;
    left: 0;
    margin: .5em;
    clear: right;
}
.field .field {
    margin: 0;
}
.field div {
    margin: .25em 0;
}
.widget-noinputwidget{
    display: none;
}
.yui-overlay,
.yui-panel-container {width: 200px;}

#form__range_start_date-calendarmenu[style] {
    z-index: 9 !important;
    border: 1px solid transparent !important;
}
.fieldRequired {
    background: url(required.gif) center left no-repeat;
    padding: 0 0 0 8px;
    color: #fff;
}
.fieldUploadFile {
    text-align: right; 
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    font-size: 90%;
    color: #76797c;
    margin: 0 0 0.2em 0;
}
.formHelp:hover {
    color: Black;
    cursor: default;
}
div.error {
    /* Class for error indication in forms */
    background-color: #fdc; 
    border: 1px solid #d00;
    padding: 0.5em;
    margin: 0 0 1em 0;
    width: 95%;
}
.error .fieldRequired {
   color: #d00;
}
  

/* Styles to make the editing widgets look more like their view counterparts */
#archetypes-fieldname-title input, input#form\.title {
    font-size: 160%;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-weight: normal;
    width: 99%;
}
#archetypes-fieldname-description textarea, textarea#form\.description {
    font: 100% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
input.inputLabelActive {
    color: #76797c;
}

textarea#form\.description {
    height: 6em;
    width: 99%;
}

tr.selected { 
    background-color: #ffa;
}

.kupu-save-message {
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 0.3em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

div.content-left-column{
    float: left;
    width : 30%;
}
div.content-right-column{
    float: right;
    width: 70%;
}

/*
 * clear all fields to the left so that they begin on a new line.
 */
form#alchemist-form .field {
    clear: left;
}
.section-bungeni-admin form#alchemist-form {
    position: relative;
    float: left;
    width: 100%;
}
.section-bungeni-admin form#alchemist-form p {
    text-align: left;
}
.section-bungeni-workspace form#alchemist-form {
    width: 95%;
    margin: 0 auto;
}

/* 
 * float these fields to be next to each other in the forms
 * - this applies to all ParliamentaryItem edit forms.
 * - these three float next to each other so they shouldn't clear
 */
form#alchemist-form #field\.form\.registry_number,
form#alchemist-form #field\.form\.owner_id {
    float: left;
    clear: none !important; 
}
form#alchemist-form #field\.form\.language {
    clear: right;
}

#field\.form\.receive_notification div.value {
    overflow: hidden;
    height: 20px;
}
#field\.form\.receive_notification div.value label {
    float: left;
    display: block;
}
#field\.form\.receive_notification div.value br {
    display: none;
}
/* form processing and action enhancements */
div.processing_indicatron{
    padding:0.5em;
    background:#fff url(progressbar.gif) no-repeat center center;
    width:auto;
    height:6em;
}
div.blockOverlay {
    background-color: black;
    cursor: wait;
    position: fixed;
    opacity: 0.6;
}

/* hovertext: show longtext/tooltip on hover of (truncated?) parent element */
* > span.hovertext {
    display: none
}
*:hover > span.hovertext {
    display: block;
    position: fixed;
    top: 45%;
    left: 25%;
    width: 50%;
    padding: .3em;
    border:2px outset #BBB;
    color:#000; background:#FF9;
    text-align: center;
}
/* /hovertext */

} /* /@media screen */
