.reportmaintitle
{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    line-height:150%;
}
.reportdoctype
{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:23px;
}
.report_title
{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    white-space:nowrap;
    line-height:150%;
}
.report_header
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
}
.reportdate
{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    white-space:nowrap;
    line-height:150%;
}

.report_body
{
    width: 80%; margin: 0 auto;
}

.report_mainTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    white-space:nowrap;
    line-height:150%;
}

.verticalMultiCheckBoxWidget br
{
    clear:both;
    display:block; !important;
}

.verticalMultiCheckBoxWidget span
{
    padding:0 0 0 0;
}
.verticalMultiCheckBoxWidget
{
    display:inline;
    float:left;
}

dd.Report div.content-left-column
{
    display:none;
}
dd.Report div.content-right-column
{
    width:100%;
    line-height:normal;
}
#searchButtonDiv{
    background-image: url(search_icon.gif);
    background-color: White;
    background-repeat: no-repeat;
    width:30px;
    float:right;
}


#report-content .heading {
    font-weight:bold;
    font-size:2em;
}
#report-content .sub-heading {
    
}
#report-content .items {
    margin-left:20px;
    list-style-type:none;
    display:block;
}
#report-content li.items { 
    background: #fff; 
}
#report-content li.items:nth-child(odd) { 
    background: #fff; 
}
#report-content li.items:hover {
    background: #eee;
}
#report-content .mover {
    margin-left:15px;
    display:block;
}
#report-content .items .itemtype {
    font-style:italic;
}
#report-content .agendaitems ul {
    list-style-type:none;
    list-style-image:none;
    margin:0;
    padding:0;
}
#report-content .agendaitems ul > li {
    list-style-type:none;
}