exist-home=%(exist_home)s
exist-docs=%(upload_from)s
user=%(exist_admin)s
password=%(exist_password)s
root-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db
fw-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/framework
sys-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/system
on-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/bungeni-xml
atts-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/bungeni-atts
