<project xmlns:xdb="http://exist-db.org/ant" default="upload-exist-ce-app" name="bungeni ConfigurationEditor on eXist-db">
 
    <!-- this is where we set our exist-home, user, password and the place that we will load the files -->
    <property file="xmldb.properties"/>
 
    <!-- this tells us where to find the key jar files relative to the ${exist-home} property -->
    <path id="classpath.core">
        <fileset dir="${exist-home}/lib/core">
            <include name="*.jar"/>
        </fileset>
        <pathelement path="${exist-home}/exist.jar"/>
        <pathelement path="${exist-home}/exist-optional.jar"/>
    </path>
    <typedef resource="org/exist/ant/antlib.xml" uri="http://exist-db.org/ant">
        <classpath refid="classpath.core"/>
    </typedef>
 
    <!-- upload app -->
    <target name="upload-exist-ce-app">
        <echo message="Loading XQ ConfigEditor app to eXist-db."/>
        <xdb:store uri="${ce-uri}" createcollection="true" createsubcollections="true" user="${user}" password="${password}">
            <fileset dir="${config-editor}">
                <exclude name="**/*.tmp"/>
                <include name="**/*.*"/>
            </fileset>
        </xdb:store>
        
        <echo message="Setting execute permission for index  and views .xql files"/>
        <xdb:chmod uri="${ce-uri}" resource="index.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="add-field.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="add-role.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="add-transition.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="edit-role.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="edit-transition.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="get-feature.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="get-field.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="get-form.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="get-roles.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="get-state.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="get-types.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="add-type.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="get-workflow.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="sys-store-custom.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/views" resource="sys-sync-custom.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/edit" resource="delete-node.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/edit" resource="delete-role.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/edit" resource="move-node.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/edit" resource="split-forms.xql" mode="other=+execute" user="${user}" password="${password}"/>
        <xdb:chmod uri="${ce-uri}/edit" resource="split-workflow.xql" mode="other=+execute" user="${user}" password="${password}"/>
        
        <echo message="Setting execute permission for admin controller."/>
        <xdb:chmod uri="${ce-uri}" resource="controller.xql" mode="other=+execute" user="${user}" password="${password}"/>
    </target>
 
    <target name="show-properties">
        <echo message="exist-home=${exist-home}"/>
        <echo message="config-editor=${config-editor}"/>
        <echo message="uri=${ce-uri}"/>
    </target>

</project>
