Section: misc
Priority: optional
Maintainer: Ashok Hariharan <ashok@parliaments.info>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.bungeni.org
Package: __PACKAGE_NAME__
Version: __BUNGENI_VER__
Architecture: __ARCH__
Installed-Size: __SIZE__
Depends: bungeni (<= 1.0+10186-2012-12-05)
Description: Update to enable killing bungeni user
