
#[ was: ui/viewlets/templates/mp_item_viewlet.pt ]#
$begin{mp_items}
<dt id="fieldsetlegend-${view.view_id}">
  ${i18n(view.view_title)}
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Type")}</th>
                <th>${i18n("Title")}</th>
                <th>${i18n("Status")}</th>
                <th>${i18n("Submission date")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr>
                <td>${i18n(item["type"])}</td>
                <td><a href="${item['url']}">${item["title"]}</a></td>
                <td>${i18n(item["status"])}</td>
                <td>${view.formatter.format(item['submission_date'])}</td>
            </tr>
            $rof
        </tbody>
  </table>
</dd>
$end{mp_items}

#[ was: a generic ui.forms.viewlets.SubformViewlet (auto db model reflection) ]#
$begin{group_members}
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Name")}</th>
                <th>${i18n("Start")}</th>
                <th>${i18n("End")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr> 
                <td><a href="${item['url']}">${item["combined_name"]}</a></td>
                <td><span>${item["start_date"]}</span></td>
                <td><span>${item["end_date"]}</span></td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{group_members}

#[ was: a generic ui.forms.viewlets.SubformViewlet (auto db model reflection) ]#
$begin{sittings}
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Date")}</th>
                <th>${i18n("Venue")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr> 
                <td><a href="${item['url']}">${item["date_from_to"]}</a></td>
                <td>${item["venue"]}</td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{sittings}

#[ was: ui/forms/templates/offices_held_viewlet.pt ]#
$begin{offices_held}
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Office")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Title")}</th>
                <th>${i18n("From")}</th>
                <th>${i18n("To")}</th>
            </tr>
        </thead>
        <tbody>
            $for{ item in view.items }
            <tr> 
                <td><span>${item["group"]}</span></td>
                <td><span>${item["group_type"]}</span></td>
                <td><span>${item["member_title"]}</span></td>
                <td><span>${item["start_date"]}</span></td>
                <td><span>${item["end_date"]}</span></td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{offices_held}
