.resize-proxy {
  border-bottom: 10px solid #8CACBB;
}

.delete-link {
  text-transform: lowercase;
}

.calendar th.description {
  background-color: #88AACC;
}

#scheduling-table p.discussion {
  margin-left: 18px;
  margin-top: 0;
}

#scheduling-table {
  width: 100%;
}

#scheduling-table textarea.discussion {
  height: 13em;
}

#scheduling-table td {
  vertical-align: top;
}

#scheduling-table td.item {
  line-height: 1.6em;
}

ul#scheduling-actions {
  display: none;
}

#scheduling-table select {
  float: right;
}

div.calendar th.description a,
div.calendar span.sitting-type,
div.calendar div.sitting {
  color: white;
}

#calendar-table th.today {
  background-color: rgb(136, 170, 204);
  color: white;
}

#calendar-table th.today a {
  color: white;
}

#calendar-table td.today {
  background-color: rgb(255, 255, 204);
}

/*
   #calendar-table {
  height: 300px;
  overflow: auto;
  overflow-y: scroll;
}
*/

#calendar-table {
  border-bottom: 1px solid #8CACBB;
  border-left: 1px solid #8CACBB;
  border-right: 1px solid #8CACBB;
}

#calendar-table div.header {
  background-color: #2952A3;
  padding-left: 0.5em;
}

#calendar-table table.grid td {
  padding: 0;
}

#calendar-table div.sitting {
  padding: 0.5em;
}

div.calendar {
  margin-bottom: 1em;
}

div.calendar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

div.calendar table th {
  text-align: center;
}

div.calendar table td.hour {
  text-align: center;
  font-weight: bold;
  padding: 0.25em !important;
}

div.calendar table tbody td {
  vertical-align: top;
  border-color: #ddd;
}

div.calendar thead td a.previous-link {
  float: left;
}

div.calendar thead td a.next-link {
  float: right;
}

div.calendar thead td {
  text-align: center;
}

div.calendar td.sitting {
  background-color: rgb(102, 140, 217) !important;
}

div.calendar td.sitting a {
  border: none;
  text-decoration: none;
}

div.calendar ul.actions {
  z-index: 1000;
}

div.scheduling ul.actions {
	width:55px;
}
div.scheduling ul.actions, div.calendar ul.actions,
div.scheduling ul.items, div.calendar ul.items {
  list-style: none;
  margin: 0;
}

div.calendar ul.actions li {
  float: right;
  margin: 0;
  padding: 0;
  margin-left: 0.2em;
}

div.scheduling ul.actions li {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 0.2em;
  border: 1px solid black;
}
  
div.scheduling ul.actions li, div.calendar ul.actions li,
div.scheduling ul.actions span, div.calendar ul.actions span,
div.scheduling ul.actions a, div.calendar ul.actions a {
  color: white;
  border: none;
  text-decoration: none;
}

div.scheduling ul.actions li a.move-scheduling-up,
div.scheduling ul.actions li a.delete-scheduling,
div.scheduling ul.actions li a.move-scheduling-down {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
}
div.scheduling ul.actions li a.move-scheduling-up {
    background: url(images/icon-up.gif) 0 3px no-repeat;
}
div.scheduling ul.actions li a.move-scheduling-down {
    background: url(images/icon-down.gif) 0 3px no-repeat;
}
div.scheduling ul.actions li a.delete-scheduling {
    background: url(images/cross.png) 0 0 no-repeat;
}

div.calendar td.sitting .discreet {
  color: #ccf;
}

#weekly-calendar #calendar-table th.day {
  width: 14%;
}

#daily-calendar #calendar-table th.day {
  width: 95%;
}

a.expandable span {
  background: url(icon_plusminus.gif) no-repeat top left;
  float: left;
  width: 14px;
  height: 14px;
  padding-right: 3px;
}

a.expandable.enabled span {
  background-position: -20px 0%;
}


div.widget-selectdatewidget {
white-space: nowrap;
}

div.yui-cal-nav {
white-space: normal;
}


/* .contentActions {
    z-index: 10050; !important;
} */
.dhx_cal_prev_button{
    left:60px;!important;
    right:auto;  !important;
}
.dhx_cal_next_button{
    left:520px; !important;
    right:auto;  !important;
}
.dhx_cal_today_button
{
    left:560px; !important;
}

.dhx_cal_navline #dhx_minical_icon{
    left:650px;
}

.dhx_cal_navline #dhx_ical_icon{
    width: 60px;
    height: 18px;
    left: 680px;
    top: 1px;
    cursor: pointer;
    background: url(images/ical.png) no-repeat;
}

.dhx_cal_navline .dhx_cal_date
{
    left:750px; !important;
}
.dhx_cal_navline {
    text-transform:capitalize;
}
.dhx_cal_larea{
    width:620px;
}
.dhx_cal_light{
    width:632px;
}
.dhx_repeat_right {
    padding:0; !important;
}
.dhx_scale_hour {
    font-size:10px;
    line-height:20px;
}

.dhtmlx_calendar_title {
    text-align: center;
    height:30px;
}

.dhtmlx_calendar_main {
    width:100%; 
    height:530px; 
    position:relative; 
    top:10px;
}

.dhx_cal_container {
    width:100%; 
    height:100%;
    z-index: 1000 !important;
}

.dhx_cal_navline #day_tab {
    left:100px;
}

.dhx_cal_navline #week_tab {
    left:170px;
}

.dhx_cal_navline #month_tab {
    left:240px;
}

.dhx_cal_navline #year_tab{
    left:310px;
}

.dhx_cal_navline #agenda_tab{
    left:380px;
}

.dhx_cal_navline #timeline_tab{
    left:450px;
}

.dhx_cal_navline #venues_tab{
    left:450px;
}

/* listing calendar dropdown
-------------------------------------------------------------- */
.date_input_search_widget {
    background: #DEE7EC;
    border: 1px solid #8CACBB;
}
