@import url("/static/css/global-styles.css");

/* =============================================================================
   GENERAL - Styles are applied site-wide
   ========================================================================== */
/*
 * These are the general styles applied to both portal (.template-portal)and the
 * workspace (.template-workspace). Within both portal and workspace further
 * customizations can be made for bungeni (.section-bungeni-workspace),
 * plone (.site-plone) and eXist (.template-portal-eXist)
 */

/* HEADER - Language selector, Portal banner
-------------------------------------------------------------- */

/* top-layer*/
#top-layer {
    height: 20px;
}
#top-layer div {
    padding: 0;
    margin: 0 auto;
    height: 20px;
    padding-right:0;
    margin-top:0px;
}
#top-layer ul#portal-personaltools {
    padding: 0;
    float: right;
    margin: 0;
    line-height: 0.7em;
}

#top-layer ul#portal-personaltools li {
    margin: 0;
    margin: 0 .25em;
    padding: 0;
    float:left;
}
#top-layer ul#portal-personaltools li a {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 22px;
}
#top-layer ul#portal-languageselector {
    height: 20px;
    float: left;
    padding: 0;
    margin: 0 .5em;
}
#top-layer ul#portal-languageselector li {
    line-height: 20px;
}
#top-layer ul#portal-languageselector li a {
    height: 20px;
    line-height: 20px;
}
/* Breadcrumbs
-------------------------------------------------------------- */
#portal-breadcrumbs {
    line-height: 20px;
    padding: 0 .25em;
    width: auto;
    clear: both;
    position: relative;
    margin: 0 0 .5em;
}
/* portal-searchbox and portal-siteactions are empty tags,
 * so they have been set to display: none because they make
 * the layout break in IE.
 */
#portal-search {
    text-align:right;
    margin: 0;
    padding: 2px 1em 0 0;
    white-space: nowrap;
    z-index: 2;
	clear:both;
}
#portal-searchbox {
    margin: -0.5em 0 3em 0 !important;
}
#portal-searchbox input.searchButton {
    height: 17px;
}
/* Main-columns
-------------------------------------------------------------- */
div.main-column h1 {
    line-height: 20px;
    margin: 5px auto;
    padding: 0;
    display: block;    
    width: 95% !important;
}
div.main-column h1.title {
    display: block;
    clear: both;
    padding: 0;
    margin: 1em 0 .5em;
    position: relative;
    line-height: 20px;
}
div.main-column h2.reportdate {
    margin:-0.4em 0 0.4em;
}
div.main-column h1.reportheading {
    padding:0.1em 10% 0.1em 10% !important;
    width:50% !important;
    margin:3em auto 0em auto;
}
div.main-column h2.reporttitle {
    margin-left:0em;
    margin-right:auto;
}
div.main-column h2 {
    display: block;
    line-height: 20px;
    padding: 0;
    margin: 1.25em 0 .5em;
}
div.main-column h3 {
    display: block;
    line-height: 20px;
    padding: 0;
    margin: .25em 0 .5em;
}
/* Portal-siteactions
-------------------------------------------------------------- */
/*#portal-siteactions {
    display: none;
}*/
/*
 * portal-globalnav
 */
 #portal-globalnav {
    padding:0;
}
div#portal-globalnav {
    position: absolute;
    padding:0; 
    height: 25px;
    width: 100%; 
    margin:0;
    clear:both;    
}

#portal-globalnav ul ul.mouseover {
	display: none;
}
#portal-globalnav ul li:hover > ul.mouseover {
	display: block;
}
#portal-globalnav ul ul {
    padding:0;
    margin:0;
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	list-style: none;
	position: relative;
	display: inline-table;
	height: 14px;
	line-height:14px;
}
#portal-globalnav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}
#portal-globalnav ul li#lower-hse,
#portal-globalnav ul li#upper-hse {
    width:280px !important;
}
div#portal-globalnav ul.level0 {
    margin: 0;
    padding: 0;
    bottom: 0; 
    width:100%;
    position:relative;
}

/* HOUSE TOP-NAVS */	
#portal-globalnav ul.level0 ul.hse-list {
    margin:0;
    padding:0 0 4px 0;
    display:inline-block;
    background:transparent;
    
}
#portal-globalnav ul.level0 ul.hse-list li {
    display:inline;
    padding:0 5px;
    background-color:transparent;
}
#portal-globalnav ul.level0 ul.hse-list li a {
    padding:0;
    margin:0;
    color:#dedede;   
    background-color:transparent;
    font-size-adjust:0.49;
} 
#portal-globalnav ul.level0 ul.hse-list li a:hover {
    color:#ffffff;   
} 
.template-portal div#portal-globalnav ul.level1 {
    width: 100% !important;
    left:0px;
    display: block;
}
div#portal-globalnav ul.level1 li {
    width: auto;
    float: left;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
}
div#portal-globalnav ul.level1 li#private,
div#portal-globalnav ul.level1 li#public {
    float: right;
}

div#portal-globalnav ul.level1 li a {
	padding: 0 10px !important;
}
div#portal-globalnav ul.level1 li a {
	padding: 0 15px !important;
	line-height:18px;
} 
#portal-globalnav li a {
    display:inline !important;
}      
#portal-languageselector li {
    display: inline;
}

/*
 * whats-on styles are shared by both template-portal and template-workspace.
 */
#portal-column-two #whats-on-overview {
    display: none;
}
/* portal-columns-* styles */
#portal-column-two .visualPadding {
    padding: 0;
}
#portal-column-one .portletHeader {
    display: none;
}
#portal-column-one .portletHeader,
#portal-column-content .portletHeader,
#portal-column-two .portletHeader,
#portal-column-two .portlet dt,
#whats-on-overview .portlet dt {
    line-height: 20px;
    height: 20px;
    position: relative;
    margin: 0;
    margin-right:0px !important;
    padding: 0 .25em;
    width: auto;
}
#portal-column-one .portletItem,
#portal-column-content .portletItem,
#portal-column-content .portletNews .portletItem,
#portal-column-two .portletItem {
    position: relative;
    margin: 0;
    padding: 0;
}
/* Misc-portlets
-------------------------------------------------------------- */
.portlet, .portletHeader, .portletFooter { margin: 0; }
.portletsBelowContentA .portletNews {
    width: 100%;
}

/* whats-on-overview portlets */
#whats-on-overview .portlet dt {
    padding: 0 2px 0 5px;
    padding: 0;
    height: auto;
    line-height: 1em;
}
#whats-on-overview .portlet dd {
    margin-top: -6px;
    padding: 0 1em;
}
/* portal-column-content */
#portal-column-content {
    position: relative;
    padding: 0;
    margin: 0;
}
/* Content
-------------------------------------------------------------- */
div#region-content div#content > div:first-child {
    margin-top:-5px;
}

#portal-column-content.sl {
    margin-left: 17em;
}
#portal-column-content h1.title {
    line-height: 30px;
    width: 95%;
    margin: 5px auto;
    clear: none;
}
#portal-column-content #whats-on-overview {
    clear: both;
    margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet {
    padding: 0;
    margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd {
    margin: 0 auto .25em !important;
    padding: 0;
    width: 100%;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul {
    padding: .25em;
    margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li {
    margin: 0 0 .5em;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li h2 {
    margin: 0;
    line-height: 20px;
    height: 20px;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul {
    margin: 0;
    padding-left: 20px !important;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li {
    margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li a {
    margin: 0;
    padding: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li ul {
    padding-left: 0px !important;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li ul li {
    line-height: 18px;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li dl {
    width: 98%;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li dl h3 {
    margin: 0;
    padding: 0;
    display: inline;    
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul li {
    padding: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul ul {
    padding: 0;
    margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul ul li {
    margin: 0;
    padding: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul ul ul {
    margin-left: 1.5em;
}
#portal-column-content #whats-on-overview .portlet dd {
    margin: 10px 0;
    padding: 0;
}
#portal-column-content .portletHeader span.tile {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
}
#portal-column-content .documentContent {
    float: left;
    width: 100%;
    padding: 0 !important;  
}
/* portal-column-one
-------------------------------------------------------------- */
#portal-column-one {
    width: 16em;
    float: left;
    position: relative;
    height: 100%;
}
#portal-column-one .visualPadding {
    padding: 0;
}
/* portal-column-one portlets */

/* hides the portlet header. */
#portal-column-one .portlet .portletItem.even,
#portal-column-one .portlet .portletItem {
    overflow: hidden;
    margin-top:-1.7em !important;
}
#portal-column-one .portlet .portletItem a img {
    margin: 1px 0;
    float: left;
}
#portal-column-one .portlet .portletItem a.navTreeCurrentItem {
    line-height: 20px;
}
#portal-column-one .portlet .portletItem ul {
    margin: 0;
    clear: none;
}
#portal-column-one .portlet .portletItem ul li {
    display: block;
    line-height: 20px;
    margin: 0;
}
#portal-column-one .portlet .portletItem ul li a {
    display: block;
    line-height: 20px;
    padding: 0 .5em 0 0;
}
#portal-column-one .portlet .portletItem ul li ul {
    padding-left: 1em;
}
/* portal-column-two portlets */
#portal-column-two .portletNews, 
#portal-column-two #review-portlet {
    width: 16em;
    margin-bottom: 1em;
}
.links li {
    line-height: 1.54em;
}
/*
 * whats-on styles are shared by both template-portal and template-workspace.
 */
#portal-column-two #whats-on-overview {
    display: none;
}

#whats-on-overview h1 {
    margin: 0 auto;
    text-align:center;
    width:100%;
}
#whats-on-overview p {
    margin: .25em 0;
    line-height: 20px;
}
#whats-on-overview p.documentDescription {
    margin: 0 auto;
    text-align:center;
    width:100%;
}
/* DocumentActions & contentActions
-------------------------------------------------------------- */
 .documentActions {
    clear:both;
}
.contentActions {
    margin: .15em 0 1em;
    height: 1.8em;
    padding: 0;
}
.contentActions a {
    padding: 0 .5em;
}
.contentActions li {
    float: right;
    z-index: 4;
    height: 1.8em;
    line-height: 1.8em;
}
.contentActions ul {
    margin: 0;
    padding: 0;
    position: relative;
}
.contentActions ul li.context_actions {
    float:left;
    left: 0;
}
.actionMenu .actionMenuContent {
    width: 100%;
    right: 0;
    z-index: 999999 !important;
    position: absolute;
}
.actionMenu .actionMenuContent ul {
    display: block;
    margin: 0;
}
.actionMenu .actionMenuContent ul li {
    display: block;
    margin: 0;
}
.actionMenu .actionMenuContent ul li a {
    display: block;
}
dl#context_actions.actionMenu .actionMenuContent ul li {
    padding: 0;
}
.actionMenu .actionMenuContent ul li a {
    margin: 0;
    padding: 0 .25em;
}
dl#context_actions.actionMenu .actionMenuContent ul {
    margin: 0;
    padding: 0;
}
dl#context_actions.actionMenu .actionMenuContent ul li a {
    padding: 0;
    margin: 0 .25em;
}

/* Table styles
-------------------------------------------------------------- */
table.listing,
table.listingdescription,
.stx table,
.yui-skin-sam .yui-dt table {
    margin: 0 auto;
    width: 100%;
}
table.listingdescription[style] {
    width: 95% !important;
}
table.listing th,
table.listingdescription th,
.stx table th,
.yui-skin-sam .yui-dt-first th {
    padding: 0 .5em;
    line-height: 20px !important;
}
.yui-skin-sam .yui-dt-first th {
    height: 20px;
}
.yui-skin-sam .yui-dt-last th {
    white-space: normal;
}
.yui-skin-sam .yui-dt-first th div {
    padding: 0;
}
.yui-skin-sam .yui-dt-last th input {
    line-height: 20px;
    height: 20px;
    padding: 0;
}
table.listing td,
table.listingdescription td,
.stx table td,
.yui-skin-sam .yui-dt table tr td {
    padding: .25em .5em;
}
/* Titles
-------------------------------------------------------------- */
div.documentContent div h1:first-child {
    text-align:center !important;
}
div.documentContent div#content h1.title {
    text-align:center !important;
}
div.documentContent div p.documentDescription {
    text-align:center !important;
}
/*
 * formTabs
 * Default styles.
 */
 dd#items-to-be-scheduled-dl ul.formTabs,
ul.formTabs {
    margin: 0;
    padding: 0;
    position: static;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
dd#items-to-be-scheduled-dl ul.formTabs {
    margin: .7em 0 0;
}
dd#items-to-be-scheduled-dl ul.formTabs li.formTab {
    display: inline;
}
li.formTab a,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a {
    padding: .25em 1em;
    margin: 0 .25em;
    line-height: 14px;
}
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a {
    padding: .25em .5em 0;
    margin: 0 .25em 0 0;
    line-height: 16px;
    display: inline;
}
li.formTab a.selected {
    position: relative;
    top: 1px;
}
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a:hover,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a:active,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a.selected {
    margin: 0;
    top: 0;
}
/* formPanel
-------------------------------------------------------------- */
 .formPanel,
dd#items-to-be-scheduled-dl .formPanel {
    padding: 0 !important;
    margin: 0;
    top: -1px;
}
.formPanel form { 
    margin: 0 auto;
    padding: 0 !important;
    width: 100%;
    clear:both;
}
/*.formPanel .field:after,
#version-history .diff:after{
    content: ".";
    height: 0;
    clear: both;
}*/
#version-history .diff {
    width: 100%;
}
#version-history .diff h4 {
    margin-right: 1em;
    min-height: 100%;
    height: auto;
}
/* Portal messages
-------------------------------------------------------------- */
dl.portalMessage dt {
	height:15px !important;
	line-height: 15px !important;
	padding: 0 .5em 0 .5em !important;
}
#alchemist-form dl.portalMessage dt {
	height:15px !important;
	line-height: 15px !important;
}
dl.portalMessage dd {
    padding: 0 !important;
    width:100% !important;
}
#display_form_spacer {
    width: 95%;
    height:20px;
    margin: 0 auto;
}
.formPanel .field:after,
#version-history .diff:after{
    display: block;
    visibility: hidden;
}
.formPanel .field .content-right-column {
    display: block;
}
.formPanel .field .content-left-column,
#version-history .diff h4 {
    float: left;
    width: 19%;
    margin: 0;
    padding: .15em .5em;
    line-height: 20px;
}
.formPanel .field .content-right-column {
    width: 79%;
    float: right;
    padding: .15em;
    line-height: 20px;
    margin: 0;
}
.formPanel #body_text .content-left-column {
    display:none;
    width:0;
}
.formPanel #body_text .content-right-column {
    padding-top:5px;
    width: 100%;
}
.formPanel .field .content-right-column div,
.formPanel .field .content-right-column.widget {
    margin: 0;
}
dd.Report.formPanel .field .content-right-column.widget {
    width: 100%;
}
.formPanel .field .content-right-column div div {
    margin: .75em 0;
    line-height: 18px;
}
.formPanel .field .content-right-column sub {
    vertical-align: bottom;
}
.formPanel .field .content-right-column sup {
    vertical-align: top;
}
.formPanel .field .content-right-column ul,
.formPanel .field .content-right-column ol {
    margin: 1em;
    padding: 0 0 0 2.5em;
}
.formPanel .field .content-right-column li {
    margin: .5em 0;
    line-height: 18px;
}
.formPanel.Report4Sitting .field .content-left-column {
    width: 5%;
}
.formPanel.Report4Sitting .field .content-right-column {
    float: left;
    width: 90%;
}

/* Calendar
-------------------------------------------------------------- */

/* YUI Button
-------------------------------------------------------------- */
span.yui-button.yui-link-button span a {
    padding: 0 3px;
    line-height: 1.5em;
    height: 1.5em;
    min-height: 1.5em;  
}
#yui-dt0-paginator0, #yui-dt1-paginator0, #yui-dt2-paginator0, #yui-dt3-paginator0, #yui-dt4-paginator0 {
    display: none;
}

/* YUI paginator
-------------------------------------------------------------- */
.yui-dt-paginator {
    margin: 0 auto !important;
    padding: 0;
    padding-top:.5em;
    line-height: 16px;
    height: 30px;
    width: 95%;
}
#yui-dt0-paginator0, #yui-dt1-paginator0, #yui-dt2-paginator0, #yui-dt3-paginator0, #yui-dt4-paginator0 {
    display: none;
}
.yui-dt-paginator select {
    padding: .1em;
    margin: 0;
}
.yui-skin-sam .yui-button {
    margin: 0 .25em;
}
.yui-skin-sam .yui-split-button button,
.yui-skin-sam .yui-menu-button button {
    padding: .15em .25em;
}
/* Misc-selectors
-------------------------------------------------------------- */
/*#content a[href^="http:"], #content a.link-external {
    padding: 1px 0 1px 16px;
    padding: .1em;
}*/
#document-action-sendto, 
#document-action-extedit,
dt#fieldsetlegend-display-form-workspace,
.workspace-content .documentEditable,
img.sortdirection,
h4.tabberHeading {
    display:none;
}
#link-presentation {
    display: none;
}
.section-have-your-say .discreet {
    display: none;
}
#tabber-block .documentFirstHeading{
    margin-top: 2em;
}
.indItem {
    margin-left: 1.5em;
}
.documentEditable {
    margin: 0;
    padding: 0 !important;
}
.widget-multicheckboxwidget {
    display: block !important;
    margin-left: 0px;
    margin-right: 0px;
    clear: none !important;
    float: left !important;
}
#field\.form\.item_types {
    float: none !important;
    height: 40px;
}
.widget-multicheckboxwidget .widget label {
    width: 140px !important;
    float:left;
    margin: 0;
    display:block;    
}
.widget-multicheckboxwidget .horizontalMultiCheckBoxWidget label {
    width: 132px !important;
    display: inline-block;    
    float: none;
    margin: 0;
}
#document-toc .portletItem {
    margin:0;
    padding:1em;
}
.hide{
    display: none;
}
#tabber-block .tabberlive .tabbertab {
    padding:0 0 0 1em;
}
#portal-languageselector li.selected a {
    padding-left:4px;
}
#secondary {
	display:none !important;
}

/* search results
-------------------------------------------------------------- */
.search-result-item {
    padding:1.5em 0 0 0;
}
.search-result-item div.title {
    padding-bottom:.5em;
}

/* footer
-------------------------------------------------------------- */
#portal-footer {
    position: relative;
    padding: 0;
    line-height: 25px;
    /* 
     * Sticky Footer
     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer to work.
     * - margin-top must be the same as the height of the footer.
     */
    height: 25px;
    margin: 0em !important;
    padding: 0em !important;
}

#portal-footer div {
    margin: 0 auto;
    width: 180px;
    height: 20px;
    line-height: 20px;
}
#portal-footer img {
    display: block;
    float: left;
    margin: .25em;
}

/* =============================================================================
   TEMPLATE PORTAL - Styling applied on portal
   ========================================================================== */
/* Portal-Width
-------------------------------------------------------------- */
.template-portal #visual-table-wrapper, 
.template-portal #top-layer,
.template-portal #portal-logo-wrapper, 
.template-portal #top-layer div, 
.template-portal #portal-logo,
.template-portal #portal-footer {
    width:960px;
}

/* Header
-------------------------------------------------------------- */

/* top-layer*/
.template-portal {
    margin: 0;
    /* 
    * Sticky Footer.
    * more information: http://www.cssstickyfooter.com/
    * these are requried to make the footer stick to the 
    * bottom of the page
    */
    height: 100%;
}
.template-portal #top-layer div {
    height: 20px;
    top:0;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}
.template-portal #header-wrapper {
    margin: 0 auto;
    width:100%;
    text-align:center;
    height:129px;
    white-space:nowrap;
}
.template-portal #header-in-left {
    margin: 0;
    width:30%;
    float:left;
}
.template-portal #header-in-right {
    margin: 0;
    width:30%;
    float:right;
}
.template-portal #top-layer {
    margin-left:auto;
    margin-right:auto;    
}
.template-portal #top-layer #demoWarning {
    height: 12px;
    line-height: 12px;
    z-index:99888;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width: 150px;
    padding: 0;    
}
.template-portal #top-layer #demoWarning blink {
    margin-left:0px;
    text-align:center;
    white-space: nowrap;
}
.template-portal #top-layer ul#portal-personaltools li {
    padding: 0 0 0 .5em;
}
.template-portal #top-layer ul#portal-personaltools li:last-child {
    margin-right:0px;
    float:right;
    clear:both;
}
.template-portal #visual-table-wrapper {
    margin: 0 auto !important;   
    padding: 0;
    height: auto;
    min-height: 100%;
}
.template-portal #portal-logo-wrapper {
    margin-left:auto;
    margin-right:auto;   
    height:75px;
    position:relative;
    white-space:nowrap;
}
.template-portal #portal-logo {
    display: block;
    margin: 5px 0 0 0;
    height: 75px;
}
.template-portal a#portal-logo img.ws-left,.template-portal a#portal-logo img.ws-right {
	display:none;
}
.template-portal #main-body-table {
    margin: 0;
    padding: 0;
    width: 100%;
    /* 
    * Sticky Footer.
    * more information: http://www.cssstickyfooter.com/
    * - these are requried to make the footer stick to the 
    *   bottom of the page.
    * - padding bottom must have the same value as the 
    *   height of the footer.
    */
    padding-top:3px;
    padding-bottom: 30px;
    position: relative;
}

/* main-column
-------------------------------------------------------------- */
.template-portal div.main-column {
    margin: 0 1em;
    padding: 0;
    height: 100%;
}

.template-portal #portal-footer {
    clear: both;
    /* 
     * Sticky Footer
     */
    height: 30px;
    line-height: 30px;
    margin: 0 auto !important;
}
.template-portal.section-bungeni-login #portal-search form {
    padding-right:20px;
}

 /* DocumentActions & contentActions
-------------------------------------------------------------- */
.template-portal .contentActions {
    margin-top: 0em;
}
.template-portal .contentActions {
    margin-bottom: 0;
}
/* login-box styles
-------------------------------------------------------------- */
.template-portal.section-bungeni-login div.documentContent {
    margin-left:320px;
    text-align:center;
    width:300px !important;
}
.template-portal.section-bungeni-login div.documentContent span.actionButtons {
    text-align:left;
    padding-left:80px;
}
#login-form {
    width: 30em;
    margin: 0 auto;
}
#login-form .field {
    clear: none;
}
#login-form input {
    font-size: 150%;
}
#login-form input.context {
    padding: 1px 10px 1px 20px;
    background-position: 9px 5px;
    margin-bottom: 1em;
}
#forgotten-password {
    float: right;
    width: 35%;
    margin: 0 1em;
}
#login_form label {
    font-weight: bold !important;
}
#login-forgotten-password .discreet {
    font-size: 90%;
    font-weight: normal;
}
#login_form .formControls .context{
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 15px;
    text-transform: none;
    border: 1px solid #8cacbb;
    min-width: none !important;
}

 
/* formPanel
-------------------------------------------------------------- */
.template-portal #portal-column-content div#region-content div#content div h2.title:first-child { 
	margin-top:10px !important;
}
.template-portal #portal-column-content div#region-content div h2:first-child { 
	margin-top:15px !important;
}
 dl.portalMessage {
    margin-top:.3em;
}

.template-portal #display_form_spacer {
    width: 99%;
}

/* =============================================================================
   TEMPLATE WORKSPACE - Styling applied on workspace
   ========================================================================== */
.template-portal-eXist #top-layer #demoWarning,
.template-workspace #top-layer #demoWarning {
    clear:both;
    width: 150px;
    height: 18px;
    line-height: 18px;
    margin: 0 auto;
    padding: 0;
}

.template-workspace #header-wrapper {
    margin: 0 auto;
    width:98.2%;
    height:134px;
    padding-right:10px;
    margin-right:0px;
}
.template-workspace #top-layer {
    margin: 0;
    top:0;
    margin-top:0px;
    position:absolute;
    padding: 10px 0 0;
    width:98%;
}
.template-workspace .ws-left {
    float:left;
    width:245px;
    height:50px;
} 
.template-workspace .ws-right {
    float:left;
    width:230px;
    height:50px;
} 
.template-workspace #portal-logo {
    height: 50px;
    margin: 0;
    padding: .5em 0;
	margin-right:7px;
}
.template-workspace #portal-logo img {
    margin: 0;
    padding:0;
    float:left;

}

.template-workspace #top-layer ul#portal-personaltools {
	margin-right:6px;
}
.template-workspace #top-layer ul#portal-languageselector {
    margin: 0 1.5em 0 .5em;
    height: 20px;
}
}
.template-workspace #portal-globalnav ul ul {
    display: inline-block !important;
}

.template-workspace div#portal-globalnav ul.level0 a, 
.template-workspace div#portal-globalnav ul.level0 span, 
.template-workspace div#portal-globalnav ul.level0 a.current {
    float:none !important;
}

.site-plone.template-workspace #portal-globalnav ul li a {
    padding:0 0.15em 0.55em 1em !important;
}

/* portal-searchbox
-------------------------------------------------------------- */
.template-workspace #portal-search {
    text-align:right;
    margin: 0;
    margin-right:0px !important;
    padding: 2px 0 0 0 !important;
    white-space: nowrap;
    z-index: 2;
	clear:both;
}
.template-workspace #alchemist-form {
	margin-right:0px !important;
}

/* main-columns
-------------------------------------------------------------- */

.template-workspace #portal-columns {
    overflow: visible;
    padding: 0;
}
/* documentContent
-------------------------------------------------------------- */
.template-workspace .documentDescription {
    text-align:center;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

/* calendar on anonymous
-------------------------------------------------------------- */
.template-portal .dhx_cal_container {
    margin-top: 0;
    margin-bottom: 0;
}

/* DocumentActions & contentActions
-------------------------------------------------------------- */
 .template-workspace .contentActions {
    margin: 1em 0 1em !important;
}


/* Content
-------------------------------------------------------------- */
.template-workspace div#portal-columns div#portal-column-content div {
    margin-top:0px !important;
}

.portaltype-folder .contentActions {
    height:1.8em;
}
.portaltype-folder #content .contentActions ul {
    margin: 0 0 0 -2px !important;
}

/* Table
-------------------------------------------------------------- */
 .template-workspace table.listing,
.template-workspace table.listingdescription,
.template-workspace.stx table,
.template-workspace.yui-skin-sam .yui-dt table {
    width: 100%;
}

/* formTabs
-------------------------------------------------------------- */
 .template-workspace ul.formTabs {
    width:0 auto !important;
}

/* formPanel
-------------------------------------------------------------- */
.template-workspace dd#fieldset-written-question-response div.documentDescription {
    width:100%;
}
.template-workspace #portal-column-content div#region-content div#content div h2.title:first-child,
.template-workspace #portal-column-content div#region-content div h2:first-child { 
	margin-top:0px !important;
}
/* portal-messages
-------------------------------------------------------------- */
.template-workspace dl.portalMessage {
    margin-top:5px !important;
    margin-left:0.2%;
    height:15px;
    clear:both;
    width:99.5%;
}
.template-workspace .formPanel  #display_form_spacer {
    width: 100%;
    height:20px;
    margin: 0 auto;
}
.template-workspace {
    margin: 0;
    padding: 0;
    /* 
     * Sticky Footer

     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer to work.
     */
    height: 100%;
}
.template-workspace div#portal-globalnav {
    position: absolute;
    padding: 0;
    height: 25px;
    width: 98%;
    margin: 0;
    white-space:nowrap;
}
.template-workspace div#portal-globalnav ul.level1 {
    left:0;
}
.template-workspace #portal-logo-wrapper {
    margin-top:4px;
}
.template-workspace #visual-table-wrapper {
    position: relative;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    width:98%;
    /* 
     * Sticky Footer
     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer
     */
    height: auto;
    overflow: auto;
    min-height: 100%;
}
.template-workspace span#corner-a,
.template-workspace span#corner-b {
    position: absolute;
    top: 0;
    width: 25px;
    height: 16px;
}
.template-workspace span#corner-a {
    left: 0;
}
.template-workspace span#corner-b {
    right: 0;
}
.template-workspace #main-body-table {
    width:97%;
    margin:0 auto;
    padding: 0;
    /* 
     * Sticky Footer
     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer
     * - the padding-bottom must be the same as the height of the footer.
     */
    padding-bottom: 25px;
    position: relative;
}
.template-portal #login-form label {
    float: left;
    min-width: 100px;
    text-align: right;
    padding-top:10px;
    padding-right: 10px;
}
.template-portal .formControls input {
    min-width: 100px;
    text-align: right;
    padding-top:10px;
    margin-right:10px;
}

/* styling for overlays (popups)
-------------------------------------------------------------- */

div.overlay {
    width: auto;
    height: auto;
    /* initially overlay is hidden */
    display:none;
    /* some padding to layout nested elements nicely  */
    margin:1em;
}

div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* overlays should be above everything */
}

div.overlay-iframe {
    height: 60%;
}

/* default close button positioned on upper-left corner */
    div.overlaybg div.close,
    div.overlay div.close {
    background-image: url(http://localhost:8082/plone/pb_close.png);
    position: absolute;
    left: -15px;
    top: -15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.pb-ajax {
    overflow-y: auto;
    text-align: left !important;
}

.pb-ajax, .pb-image {
    white-space: normal;
    border:1px solid #8cacbb;

    -moz-box-shadow:0 0 1em #888;
    -webkit-box-shadow:0 0 1em #888;
}

.pb-ajax > * {
    background-color: White;
    padding: 1em;
    white-space: normal;
}

.pb-ajax .documentActions {display:none}

div.overlay div.close span {
    display:block;
    height:1px;
    margin:-1px 0 0 -1px;
    overflow:hidden;
    padding:0;
    width:1px;
}

.pb-ajax #login-form input.context {
    background-position: 9px 5px;
    margin-bottom: 1em;
    padding: 1px 10px 1px 15px !important;
    font-size: 100% !important; 
}

/* scheduler layout
-------------------------------------------------------------- */
.documentContent #scheduler-layout ul.yui-nav {
    margin: 0.5em 0 1em .6em !important;
}

.documentContent #scheduler-layout .schedule-available-item-filters {
    margin: 0.2em 0em;
    padding: 0.2em 0 !important;
}

.yui-dt.yui-dt-scrollable {
    width:100% !important;
}

.yui-dt-hd table,
.yui-dt-bd table {
    width:100% !important;
}

.yui-skin-sam #scheduler-layout .yui-button:first-child {
    margin: auto .25em auto .1em !important;
}

#text-records-dialog table {
    width:auto;
    margin-left:0;
}
.yui-skin-sam div.yui-dt-bd {
    width:300px;
}
#scheduler-layout table {
    width:auto;
    margin-left:0;
}
#scheduler-layout .yui-skin-sam .yui-dt-liner {
    margin: 0;
    padding: 0;
    padding: 4px 10px 4px 10px;
}
.yui-skin-sam #text-records-dialog .yui-dt table tr td,
.yui-skin-sam #scheduler-layout .yui-dt table tr td {
    padding: 0;
}
.yui-skin-sam #text-records-dialog .yui-dt-liner,
.yui-skin-sam #scheduler-layout .yui-dt-liner {
    padding: 0 4px 0 10px !important;
}
.yui-skin-sam #text-records-dialog .yui-dt-first th,
.yui-skin-sam #scheduler-layout .yui-dt-first th {
    padding: 0;
}

.yui-skin-sam #scheduler-layout .yui-layout-unit .yui-resize-handle-r {
    right: 0;
    top: 2px;
    zoom: 1;
    width:5px;
    height:99.1%;
    margin: 5px 0 0 0 !important;
}
.yui-skin-sam #scheduler-layout.yui-layout .yui-resize-proxy div {
    position: absolute;
}

.yui-skin-sam #scheduler-layout .yui-dt table tr td,
.yui-skin-sam #scheduler-layout .yui-dt-first th {
    width:0px !important;
    padding:0 !important;
}
.yui-skin-sam #scheduler-layout .yui-split-button button, 
.yui-skin-sam #scheduler-layout .yui-menu-button button {
    padding-right: 15px;
}
.yui-skin-sam .schedule-available-item-filters .yui-split-button button, 
.yui-skin-sam .schedule-available-item-filters .yui-menu-button button {
    padding-right: 20px !important;
}
.yui-skin-sam #scheduler-layout th.yui-dt-col-item_type,
.yui-skin-sam #scheduler-layout .yui-dt-first,
.yui-skin-sam #scheduler-layout .yui-dt0-col-row_controls {
    max-width:115px !important;
} 
.yui-editor-editable-container {
    max-height:300px;
    overflow-y:auto;
}
.yui-editor-editable-container:empty {
    height:30px;
    overflow-y:auto;
}

/* Hide form elements that don't make sense within an overlay. */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }

/* =============================================================================
   Bungeni - Bungeni workspace
   .section-bungeni-workspace
   ========================================================================== */
  
.section-bungeni-workspace #portal-column-content.sl {
    margin: 0;
}
.section-bungeni-\@\@index .newsImage {
    margin:-18px 5px 0 -5px;
}
.section-bungeni-\@\@index .newsImageContainer {
    float:left;
    margin:0 0 0.5em 1em;
    width:202px;
}
.section-bungeni-workspace #portal-column-one {
    float: none;
    width: auto;
    position: absolute;
    z-index: 86;
    height:auto;
}
.section-bungeni-workspace .formPanel .field,
#version-history .diff {
    margin: 0 auto !important;
    padding: 0;
    clear: both;
    width: 95%;
    height: auto;
    display: inline-block;    
}
 .section-bungeni-\@\@index #portal-column-one {
    display: none;
}
.section-bungeni-\@\@index #content div{
    margin:0;
}
.section-bungeni-\@\@index #portal-columns {
    margin-top: -2.5em;
}
.template-workspace.section-bungeni-admin #alchemist-form {
	margin-bottom:5px;
}
.template-workspace.section-bungeni-admin div.main-column h2,
.template-workspace.section-bungeni-admin div.main-column h1 {
    margin-top: .5em !important;
}
.template-workspace.section-bungeni-workspace div.main-column h3,
.template-workspace.section-bungeni-admin div.main-column h3 {
    margin-top: 1em;
}
 .template-workspace.section-bungeni-admin #portal-columns {
    clear:both;
    margin-top:0px !important;
    position:relative;
}
 .template-workspace.section-bungeni-admin #portal-column-content .documentContent div {
    margin-top:0px !important;
}
.template-workspace.section-bungeni-business #portal-column-content .documentContent {
    float: none;
    width: 95%;
    margin: 0 auto;
}
.section-bungeni-admin #portal-column-content .documentContent {
    width: 100%;
    padding: 0 !important;
}
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li {
    float: left;
}
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li a {
    padding: 0 .5em;
    margin: 0 .25em 0 0;
}
.section-bungeni-admin #portal-column-one .portlet {
    width: 16em;
    float: left;
}

.section-bungeni-admin .portletItem.lastItem {
    width:180px;
}
.workspace-under-consideration {
    clear:both;
    margin-left:400px;
}
.template-workspace.section-bungeni-admin #portal-column-content {
    padding: 0;
    overflow: visible;
    margin-left: 17em;
}

.template-workspace.section-bungeni-workspace div.documentContent div#content h1 {
    text-align:center !important;
}
.template-workspace.section-bungeni-workspace ul.formTabs {
    margin: .5em auto;
    height: 30px;
    width:100% !important;
}
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab {
    margin: .25em 0em .25em 0;
}
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a {
    margin: 0;
    top: 0;
}
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a:hover,
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a:active,
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a.selected {
    margin: 0;
    top: 0;
}
.template-workspace.section-bungeni-admin ul.formTabs {
    width: 100% !important;
}
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a:hover,
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a:active,
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a.selected {
    line-height: 17px;  
}
.template-workspace.section-bungeni-workspace .formPanel {
    margin-left: 0;
    width:100%;
}
body.template-workspace.section-bungeni-admin #portal-column-content div#whats-on-overview dl.portlet.whats-on-viewlet.enableFormTabbing
body.template-workspace.section-bungeni-workspace #portal-column-content div#whats-on-overview dl.portlet.whats-on-viewlet.enableFormTabbing  {
    width: auto !important;
    margin-left: 155px;
}
.section-bungeni-admin .formPanel form {
    float: none;
    position: relative;
}
.section-bungeni-admin .formPanel .field {
    width: 100%;
}
.section-bungeni-workspace div.main-column #portal-column-content #region-content h2.title:first-child {
    margin-top: 1.5em !important;
}.template-workspace.section-bungeni-admin dl.portalMessage {
    /*margin-top:-25px !important;*/
    /*margin-bottom:25px !important;*/
    float:left;
    margin-left:0.2%;
    height:15px;
    clear:both;

    width:99.6%;
}
.template-workspace.section-bungeni-admin dl.portalMessage dt {
    padding-bottom:0 !important;
}
.template-workspace.section-bungeni-admin .formPanel div.field.even {
    clear:both;
}
.template-workspace.section-bungeni-workspace dl.portalMessage {
    margin:0 auto;
    margin-bottom:25px !important;
    height:15px;
    clear:both;
    width:100%;
}
.template-workspace.section-bungeni-workspace #popup-load dl.portalMessage {
    width:100%;
}
.template-workspace.section-bungeni-admin .formPanel #display_form_spacer {
    width: 100%;
}
.template-workspace.section-bungeni-admin .formPanel .field .content-left-column {
    width: 18%;
}
.template-workspace.section-bungeni-admin .formPanel .field .content-right-column {
    width: 78%;
}
.template-workspace.section-bungeni-workspace .contentActions, .template-portal .contentActions { /*toughie*/
       padding-top:-20px !important;
       background-color: #CDE2A7;
       border-left: 1px solid #74AE0B;
       border-right: 1px solid #74AE0B;
}

.section-bungeni-workspace #text-records-dialog input.scheduler-bigtext {
    width: 98% !important;
}
.section-bungeni-workspace table th.yui-dt-col-status select#input_type,
.section-bungeni-workspace table th.yui-dt-col-status select#input_status { 
    width:200px !important;
}

/* =============================================================================

   Plone - Plone CMS content styling
   .site-plone
   ========================================================================== */
.template-workspace.site-plone #main-body-table {
    margin-top: 5px !important;
}
.template-web_pages ul.contentViews,
.template-private_folder ul.contentViews,
.template-web_pages #plone-contentmenu-actions,
.template-private_folder #plone-contentmenu-actions,
.template-web_pages #context_workflow,
.template-privateshell_folder #context_workflow {
    display: none;
}

.template-portal.site-plone div#portal-globalnav ul.level1 {
    margin-top: 0em !important;
}

/* =============================================================================
   EXIST - eXist XML UI content styling
   .template-portal-eXist
   ========================================================================== */  
.template-workspace.template-portal-eXist #portal-column-content,
div#region-content {
    width:960px;
    height:auto;
    min-height:500px;
    margin:0px auto 20px auto;
    padding-top:10px;
    padding-bottom:10px;
}
.template-portal-eXist {
    text-align: center;
    font-size:69%;
}

.template-portal div#portal-globalnav ul.level1,
.template-portal-eXist div#portal-globalnav ul.level1 {
    margin:0;
    padding:0;
    line-height:18px;
    height:18px;
}
.template-portal-eXist.lower_house div#portal-globalnav ul.level1 {
    background: none repeat scroll 0 0 #F79F10 !important;
}
.template-portal-eXist.higher_house div#portal-globalnav ul.level1 {
    background: none repeat scroll 0 0 #B22B14 !important; 
}

.template-workspace.template-portal-eXist #portal-breadcrumbs {
    width:99.50%;
}
.template-portal-eXist  .tab_container {
	overflow: hidden;
	clear: both;
	float: left; 
	width: 100%;
}
.template-portal-eXist  .black-full {
    margin-left:10px;
    width:94%;
}
.template-portal-eXist  .grey-full {
    margin-left:10px;
    width:100%;
}
.template-portal-eXist div#main-wrapper {
    width: 100%;
    margin: 0 auto 0 auto;    
}
.template-portal-eXist div#region-content {
    width: 100%;
}
.template-portal-eXist #search-form-global .header-links {
    margin-right:2px;
}
.template-portal-eXist #portal-search a.header-links:visited, 
.template-portal-eXist #portal-search a.header-links {
    margin-right:2px;
}

.template-portal-eXist #portal-breadcrumbs {
    width: 100%;
}
.template-portal .documentActions {
    border-top: 0 none;
}
.template-portal div.main-column h1 {
    margin: 0 auto;
    width: 100% !important;
}
.template-portal div.main-column h1 {
    text-align: left;
}
.template-portal-eXist div#region-content h4 {
    margin-bottom:5px;
    font-weight:bold;
}
.template-portal-eXist #region-content .mem-desc br,
.template-portal-eXist div#doc-content-area br {
    display: block;
    margin: 10px 0;
    line-height:22px;
    content: "";
}
.template-portal-eXist #region-content .mem-desc ul,
.template-portal-eXist div#doc-content-area ul {
    padding-left:20px;
    list-style-type:circle;
}
.template-portal-eXist #region-content .mem-desc div,
.template-portal-eXist #region-content .list-block,
.template-portal-eXist #region-content ul.ls-row li {
    text-align:left !important;
}

.template-portal-eXist ul.doc-versions {
    padding: 0;
}

/* DHTMLX Calendar
-------------------------------------------------------------- */
.template-portal-eXist .dhtmlx_calendar_exist {
    width: 100%;
    height: 660px;
    position: relative;
    top: 10px;
}
.template-portal-eXist .dhx_cal_navline .dhx_cal_date {
    font-size:12px;
    font-weight:bold;
}

/* member's section in eXist UI
-------------------------------------------------------------- */
#image .widget img {
    max-height:200px;
}
