/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: .8em; line-height: 1.2; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #f39f14; color: #fff; text-shadow: none; }
::selection { background: #f39f14; color: #fff; text-shadow: none; }


/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
li { list-style-type: none; }
dl, dd { margin: 0 0 0 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
input[type="text"] { width:100%;border: 1px solid #AAA; height:16px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

select { width:100%; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button {padding:1px 2px;height:23px; }
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.clearboth { clear:both; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

/* breadcrumbs */
#portal-breadcrumbs #breadcrumbs-home {
    padding-left:5px;
}
#portal-breadcrumbs .breadcrumbSeparator {
    display:none;
    font-size: 120%;
    padding:0 5px 0 3px;
}
#portal-breadcrumbs a:after { 
    content: "  \2192  "; /* &rarr; -- here must be in HEX */
    font-size: 120%;
}
#portal-breadcrumbs a:last-child:after {
    content: "";
}
.inline {
    display: inline !important;
    padding-right: 0px;
}
/* Hide
-------------------------------------------------------------- */
.hide {
    display: none;
}
#link-presentation {
    display: none;
}
h3.printHeading, 
.whats_on_print_heading {
    display: none;
}
#portletArchiveDates .documentDescription {
    display: none;
}
#portletArchiveDates .formHelp {
    display: none;
}
#yui-dt0-paginator0, 
#yui-dt1-paginator0, 
#yui-dt2-paginator0, 
#yui-dt3-paginator0, 
#yui-dt4-paginator0 {
display: none;
}

.enableFormTabbing {
    clear:both;
}

#display_form_spacer {
    width: 100%;
    height: 10px;
    margin: 0 auto;
    background:transparent
}

/* content block */
#region-content {
    clear: both;
    float: left;
}
#region-content > div:not(:empty) {
    margin:0 10px;
    clear:both;
}

/* PortalMessages
-------------------------------------------------------------- */
.portalMessage:empty {
    display:none;
}
.portalMessage {
    padding:10px 0;
}
.portalMessage dt, 
.portalMessage dd { 
    padding: 1px 4px 2px;    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;   
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);    
}
.portalMessage dt {
    float:left;    
    font-weight: bold;    
    white-space: nowrap;
    vertical-align: baseline;    
}
    .error dt {
        background-color: #B94A48;
    }
    .error dd {
        background-color: #db5755;
        font-style: normal;
        text-align:left;
    }
    .info dt {
        background-color: #3A87AD;
    }
    .info dd {
        background-color: #45a1cf;
        font-style: normal;
        text-align:left;
    }

/* Login Overlay
-------------------------------------------------------------- */
/* styling for overlays (popups) */
#pb_1 {
    top: 110px !important;
    }
div.overlay {
    width: auto;
    height: auto;
    /* initially overlay is hidden */
    display:none;
    /* some padding to layout nested elements nicely  */
    margin:1em;
}

div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* overlays should be above everything */
}

div.overlay-iframe {
    height: 60%;
}

/* default close button positioned on upper-left corner */
    div.overlaybg div.close,
    div.overlay div.close {
    background-image: url(http://localhost:8082/plone/pb_close.png);
    position: absolute;
    left: -15px;
    top: -15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.pb-ajax {
    overflow-y: auto;
    text-align: left !important;
}

.pb-ajax, .pb-image {
    white-space: normal;
    border:1px solid #8cacbb;

    -moz-box-shadow:0 0 1em #888;
    -webkit-box-shadow:0 0 1em #888;
}

.pb-ajax > * {
    background-color: White;
    padding: 1em;
    white-space: normal;
}

.pb-ajax .documentActions {display:none}

div.overlay div.close span {
    display:block;
    height:1px;
    margin:-1px 0 0 -1px;
    overflow:hidden;
    padding:0;
    width:1px;
}

.pb-ajax #login-form input.context {
    background-position: 9px 5px;
    margin-bottom: 1em;
    font-size: 100% !important; 
}
.pb-ajax #content-core {
        min-height: 200px;
    }