  <theme href="http://%(theme_url)s/themes/%(portal_theme)s" />
		
  <server-settings>
      <server>%(app_host)s:%(portal_http_port)s</server>
  </server-settings>

  <proxy path="/bungeni">
      <dest href="http://%(app_host)s:%(bungeni_http_port)s/++vh++http:%(web_server_host)s:%(web_server_port)s/++/" />
  </proxy>

  <proxy path="/cynin">
      <dest href="http://%(app_host)s:%(plone_http_port)s/VirtualHostBase/http/%(web_server_host)s:%(web_server_port)s/cynin/VirtualHostRoot/_vh_cynin/" />
  </proxy>

  <proxy path="/plone">
      <dest href="http://%(app_host)s:%(plone_http_port)s/VirtualHostBase/http/%(web_server_host)s:%(web_server_port)s/plone/VirtualHostRoot/_vh_plone/" />
  </proxy>

  <proxy path="/themes">
      <dest href="http://%(app_host)s:%(portal_static_port)s/themes" />
  </proxy>

  <proxy path="/static">
      <dest href="http://%(app_host)s:%(portal_static_port)s" />
  </proxy>

  <proxy path="/">
      <dest href="http://%(app_host)s:%(bungeni_http_port)s/++vh++http:%(web_server_host)s:%(web_server_port)s/++/" />
  </proxy>


