Section: misc
Priority: optional
Maintainer: Ashok Hariharan <ashok@parliaments.info>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.plone.org
Package: bungeni-plone
Version: __PLONE_VER__
Architecture: __ARCH__
Installed-Size: __SIZE__
Depends: bungeni
Description: Plone is a free and open source content management system built on top of the Zope application serve
