/*
** Plone Print style sheet for CSS2-capable browsers.
** Copyright Plone Foundation, et al
**
** Style sheet documentation can be found at http://plone.org/documentation
**
** You should preferrably use ploneCustom.css to add your own CSS classes and to
** customize your portal, as these are the base fundaments of Plone, and will 
** change and be refined in newer versions. Keeping your changes in
** ploneCustom.css will make it easier to upgrade. 
**
** Feel free to use whole or parts of this for your own designs, but give credit
** where credit is due.
**
*/

body {
    font-family: Baskerville, Georgia, Garamond, Times, serif;
    font-size: 11pt !important;
}
h1, h2, h3, h4, h5, h6 {
    border: none;
    font-family: Baskerville, Georgia, Garamond, Times, serif;
}
div, p, ul, dl, ol {
    width: auto;
}
ul, ol, dl {
    padding-right: 0.5em;	
}
ul { 
    list-style-type: square;
}
.documentDescription {
    font-weight: bold;
}
pre {
    border: 1pt dotted black;
    white-space: pre;
    font-size: 8pt;
    overflow: auto;
    padding: 1em 0;
}
table.listing,
table.listing td {
    border: 1pt solid black;
    border-collapse: collapse;
}
a {
    color: Black !important;
    padding: 0 !important;
    text-decoration: none !important;
}
a:link, a:visited {
    color: #520;
    background: transparent;
}

/* Page break class for use when printing */
div.pageBreak {
    page-break-before: always;
}

#portal-columns {
    width: 100% !important;
    border-collapse: collapse;
    border-spacing: 0;
}
#portal-column-one {
    vertical-align: top;
    width: 16em;
    border-collapse: collapse;
    padding: 0;
}
#portal-column-content {
  vertical-align: top;
  border-collapse: collapse;
  padding: 1em 1em 0 1em;
  margin: 0em 0em 2em 0em;
  min-width: 600px;
}

#portal-column-two {
    vertical-align: top;
    width: 16em;
    border-collapse: collapse;
    padding: 0;
}

.inlinePortlet {
    width: 100%;
    float: left;
}

#contentBottomLeft {
  clear: both;
  display: block;
}


/* Form tabs */
#tabber-block .tabberlive .tabbertabhide { display: none; }

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/

#tabber-block .tabber {text-align:center;}
#tabber-block .tabberlive { margin-bottom: 1em; }

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/

#tabber-block ul.tabbernav
{
  margin-top: 0;
  padding: 1px 0;
  /*border-bottom: 1px solid #b83d00;*/
  text-align:center;
}

#tabber-block ul.tabbernav li
{
/*display:inline;*/
  float:left;
  line-height:21px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0pt;
  white-space: wrap;
}

#tabber-block ul.tabbernav li a
{
  padding: 3px 1px 2px 2px;
  margin-left: 0;
  border: 0.5px solid #5a5757;;
  border-style: solid none solid solid;
  text-decoration: none;
  color: &dtml-globalFontColor;;
  position: relative;
  top: 1em;
  background-color: &dtml-backgroundColor;;
  /*margin-top:58px;*/
  white-space: no-wrap;
}


#tabber-block ul.tabbernav li.last a {
  border-right: 1px dotted #b83d00;
}


ul.formTabs {
  position: relative;
  display: block;
  margin: 0 0 -2em 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

li.formTab {
    display: inline;
    margin: 0;
    padding: 0;
}
li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
li.formTab a {
    border-top: 1px solid #8cacbb;
    border-bottom: 1px solid #8cacbb;
    border-left: 1px dotted #8cacbb;
    background: White;
    margin: 0;
    padding: 0.125em 0.75em;
    text-decoration: none;
}
li.formTab a:visited {
    color: #436976;
}
li.firstFormTab a {
    border-left: 1px solid #8cacbb;
}
li.lastFormTab a {
    border-right: 1px solid #8cacbb;
}
li.formTab a.selected {
    background: #dee7ec;
}
li.formTab a:hover {
    background: #dee7ec;
}
li.formTab a.notify {
    background-color: #ffce7b;
    color: Black;
}
li.formTab a.required span {
    background-image: url(required.gif);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 8px;
}
li.formTab a.notify:hover {
    background-color: #ffa500;
}
.formPanel {
    padding: 1em 1em 1em 1em; 
    border: 1px solid #8cacbb;
}
.formPanel.hidden {
    display: none;
}

form {
    border: none;
    margin: 0;
}
fieldset {
    border: 1px solid #8cacbb;
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
    width: auto;
}
legend {
    background: White;
    padding: 0.5em;
    font-size: 90%;
}
label {
    font-weight: bold;
}

div.formControls input.hidden {
    display: none;
}

dl.enableFormTabbing dd {
  margin-left: 0;
  padding-top: 1em;
  width: 100%;
}

dd {
    line-height: 1.5em;
    margin-bottom: 1em;
}

div.content-left-column{
float: left;
}

div.content-right-column{
float: right;
}

/* The edit form elements */
.field {
    top: 0;
    left: 0;
    margin: 0 0em 1em 0;
    clear: both;
}
.field .field {
    margin: 0;
}
.fieldRequired {
    background: url(required.gif) center left no-repeat;
    padding: 0 0 0 8px;
    color: White;
}
.fieldUploadFile {
    text-align: right; 
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    font-size: 90%;
    color: #76797c;
    margin: 0 0 0.2em 0;
}
.formHelp:hover {
    color: Black;
    cursor: default;

.documentContent {
  padding: 0 0 0 0;
  width: 100%;
}

#portal-column-content {
  width: 100%;
}

#contentActions {
  border: 0px;
}


/* Uncomment these to get link addresses inserted along with the link text
   when you print.
#content a:link:after, 
#content a:visited:after {
   content: " [" attr(href) "] ";
}
*/

/* Hide all the elements that are irrelevant for printing */
div.top,
#portal-logo,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav,
.template-portal #portal-globalnav,
#portal-personaltools,
.template-portal #personaltools,
#portal-breadcrumbs,
.template-portal #portal-breadcrumbs,
.template-workspace #portal-breadcrumbs,
#portal-column-one,
#portal-column-two,
#portal-languageselector,
#portal-globalnav-bottom,
.template-portal #portal-globalnav-bottom,
#print_button,
#send_button,
.contentViews,
.contentActions,
.template-portal .contentActions,
.template-workspace .contentActions,
.help,
.legend,
.portalMessage,
.documentActions,
.documentByLine,
.netscape4,
#portal-footer,
#portal-colophon,
.skipnav,
 #kss-spinner,
 #review-history,
 .listingBar,
.visualNoPrint,
.comment-button,
#content-history,
.managePortletsAboveLink,
.managePortletsBelowLink,
#iqpp-plone-commenting, {
    display: none;
}

