
* {margin: 0; padding: 0; vertical-align: baseline; }      
body {line-height: 1; cursor: default; }
a {cursor: pointer; }

/* Uncomment the following code if the outline of links upon clicking annoy you. 
   (Warning: Accesibility wise, this is a not a wise decision to enable.) 
*/
/*:focus {                                      outline: 0; }*/

q:before, q:after {content: ""; }
ol, ul {list-style-type: none; }
table {border-collapse: collapse; border-spacing: 0; }
caption, th, td {text-align: left; font-weight: normal; }

h1, h2 {color: #C8631B;}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #436976 !important;
  text-decoration: underline;
}


div#portal-globalnav {
  width:100%;
}

div#portal-globalnav ul.level0 {
  background-color: #FAAD5F;
  height: auto;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0 0 0 2em;
  margin-left: 0em;
  white-space: nowrap;
  min-width:110em;
  width: 100%;
  height:1.7em;
}

div#portal-globalnav ul.level0 a{
  background-color: #FAAD5F;
  border-color: #FAAD5F #FAAD5F #FAAD5F;
  margin-left: 8px;
}

div#portal-globalnav ul.level0 li.selected {
  background-color:#FFE7B8;
  border-top: 0.5px solid #513268;
}


div#portal-globalnav ul.level0 li.selected a{
  background-color:#FFE7B8;
  border-top: 0.5px solid #FAAD5F;
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;
  border-bottom: 5px solid #FFE7B8;  
}

div#portal-globalnav ul.level0 li#portaltab- a {
  background-color: #FAAD5F;
  border-color: #FAAD5F #FAAD5F #FAAD5F;
  font-weight: normal;
  height: 1em;
}

/*on the homepage - display the first tab as selected*/
.section-front-page div#portal-globalnav ul.level0 li#portaltab- a,
.section-bungeni-calendar div#portal-globalnav ul.level0 li#portaltab- a
{
  background-color: #FFE7B8;
  border-top: 0.5px solid #FAAD5F;
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;
  border-bottom: 5px solid #FFE7B8;
  font-weight:bold;
  padding:0 10px;
  height: 1.1em;
}


div#portal-globalnav ul.level0 a, div#portal-globalnav ul.level0 span, div#portal-globalnav ul.level0 a.current {
padding:0 10px;

}

div#portal-globalnav ul.level0 li.plain a{
  padding-top:0px;
}


div#portal-globalnav ul.level1 li.selected a{
  background-color: #FFE7B8;
  border: 0px;
}

div#portal-globalnav ul.level0 li ul.level1 li.selected a{
  background-color:#FFE7B8;
  border: 0px;
}

#bungeni-workspace #portal-column-one {
  display:none;
}

#portal-column-two .visualPadding {
  padding-top: 1em;
}

#portal-personaltools {
  margin-top: -2em;
  margin-bottom: 2em;
  background-color: #FFE7B8;
  border-top: 1px solid #FFE7B8;
  border-bottom: 1px solid #FFE7B8;  
}

div#portal-globalnav ul.level0 li#portaltab-index_html {
  display:none;
}

.kssActive div#portal-globalnav ul.level0 li#portaltab-index_html {
  display: inline;
}

.template-front-page div#portal-globalnav ul.level0 li#portaltab-:first-child {
  display:none;
}

div#portal-globalnav-bottom {
  padding-top:1.8em;
  background-color: #FFE7B8;  
  border: 1px solid #FFE7B8;
}


#portal-breadcrumbs {
  border-bottom:1px solid #FAAD5F;
}

.contentActions {
  background-color: transparent;
  border-left: transparent;
  border-right: transparent;
}

#bungeni-workspace .contentActions {
  background-color: transparent;
  border-left: transparent;
  border-right: transparent;
}

.contentViews {
  border-color: transparent;
}


dl.section-front-page {
  display: none;
}

/*portlets*/
.portlet, .portletHeader, .portletFooter {
  border: 0px;
}

.odd {
  background-color: transparent ;
}

.even {
  background-color: #F3F3F3;
}

#portal-column-one .portlet {
  margin: 103px 0 1em;
  width: 
}

#portal-column-one .portletNavigationTree {
  margin: 40px 0 1em;
  width: 
}

#portal-column-two .portletNews
#portal-column-two #review-portlet
{
  margin:15px -1em 1em 1em;  
}

#portal-column-one .portletHeader,
#portal-column-content .portletHeader,
#portal-column-two .portletHeader,
#portal-column-two .portlet dt
{
  background-color: #E3E3E3;
  border: 1px solid #FAAD5F;
}

.portletItem {
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;
  border-bottom: 1px solid #FAAD5F;
}

#portal-column-one .portletItem,
#portal-column-content .portletItem,
#portal-column-two .portletItem,
{
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;
}

#portal-column-one .portletHeader,
#portal-column-content .portletHeader,
#portal-column-two .portletHeader,
#portal-column-two .portlet dt,
#whats-on-overview .portlet dt
{
  background-color: #E3E3E3;
  border: 1px solid #FAAD5F;
  line-height: 1.6em;
  text-align: justify;
}

#whats-on-overview .portlet dt
{
  padding: 0 2px 5px 5px;
  font-weight: normal;
}


#portal-column-one .portletItem,
#portal-column-content .portletItem,
#portal-column-content .portletNews .portletItem,
#portal-column-two .portletItem
{
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;
}

#portal-column-one .visualPadding {
  padding:4px 0 1em 2em;
}

.section-front-page #whats-on-overview .portlet {
  margin-left: 1em;
  margin-bottom: 2em;
  width: 14em;
}

#whats-on-overview .portlet dd {
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;
  border-bottom: 1px solid #FAAD5F;
  margin-top: -6px;
  padding: 0 1em 0 1em;;  

}
#portal-column-two .portlet dd {
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;
  border-bottom: 1px solid #FAAD5F;
  margin-top: -6px;
}

#portal-column-one .portletFooter,
#portal-column-content .portletFooter,
#whats-on-overview .portletFooter
{
  border-top: 1px solid #FAAD5F;
  border-left: 1px solid #FAAD5F;
  border-right: 1px solid #FAAD5F;  
  border-bottom: 1px solid #FAAD5F;
}

/*form tabs*/

dt#fieldsetlegend-display-form-workspace {
  display:none;
}

.workspace-content .documentEditable {
  display: none;
}

ul.formTabs {
  margin: 0 0 -1em;
}

li.formTab a.selected {
  background:#E3E3E3;
}

li.firstFormTab a {
  border-left:1px solid #FAAD5F;
}

li.formTab a {
border-bottom:1px solid #FAAD5F;
 border-left:1px dotted #FAAD5F;
border-top:1px solid #FAAD5F;
}

li.lastFormTab a {
  border-right:1px solid #FAAD5F;
}

.formPanel {
  border: 1px solid #FAAD5F;
}

/*yui tables*/
.yui-skin-sam .yui-dt table {
  border: 1px solid #FAAD5F;
  margin: auto;
}

.yui-skin-sam tr.yui-dt-odd {
  background-color: #F3F3F3;
}

.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a {
  min-width: 16em;
}


/*search form*/
#portal-searchbox input.searchButton {
  height: 17px;
}

input.searchButton {
  margin-left: 5px;
}

/*table listings*/
table.listing, .stx table {
  border-bottom:1px solid #FAAD5F;
  border-left:1px solid #FAAD5F;
}

table.listing th, .stx table th {
  background:#F3F3F3 none repeat scroll 0 0;
  border-bottom:1px solid #FAAD5F;
  border-right:1px solid #FAAD5F;
  border-top:1px solid #FAAD5F;
}

table.listing td, .stx table td {
  border-right:1px solid #FAAD5F;
  padding:0.25em 0.5em;
}

#content a[href^="http:"], #content a.link-external {
  background:transparent;
  padding:1px 0 1px 16px;
}

/*center archive table*/
.section-bungeni-archive table {
  margin: auto;
}

