Source: bungeni
Section: unknown
Priority: extra
Maintainer: Ashok Hariharan <ashok@parliaments.info>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.bungeni.org
#Vcs-Git: git://git.debian.org/collab-maint/bungeni.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/bungeni.git;a=summary

Package: bungeni
Version: 1.0+svn9846
Architecture: amd64
Depends: build-essential, ssh, subversion, python-dev, python-setuptools, fabric, wget, zip, unzip, build-essential, libjpeg62-dev, libfreetype6-dev, libbz2-dev, libxslt1-dev, libxml2-dev, libpng12-dev, openssl, libssl-dev, bison, flex, libreadline-dev, zlib1g-dev, libtool, automake, autoconf, libsqlite3-dev, uuid-dev, libreoffice-writer, libreoffice-java-common, libreoffice-common, python-uno, libtidy-dev, libldap2-dev, libsasl2-dev, libssl-dev, wv, poppler-utils, libdb-dev, libpq-dev, erlang-base-hipe, erlang-os-mon, erlang-xmerl, erlang-inets, openjdk-7-jre
Description: Bungeni Legislative Information Management
 Bungeni Legislative Information Management System
