#version-history table.listingdescription {
    margin-bottom: 0.5em;
}

table.diff {
    display: block;
    overflow: auto;
    border: 1px solid #ccc;
}

table.diff td {
    padding: 3px;
}

label.discreet {
    line-height: 2em;
}

#bungeni-workspace .item {
  width: 50%;
  float: left;
  background: transparent;
}

#bungeni-workspace .even .portlet {
  margin-right: 5px;
}

#bungeni-workspace .odd .portlet {
  margin-left: 5px;
}

#portal-logo {
  display: none;
}