#version-history table.listingdescription {
    margin-bottom: 0.5em;
}

table.diff {
    display: block;
    overflow: auto;
    border: 1px solid #ccc;
}

table.diff td {
    padding: 3px;
}

label.discreet {
    line-height: 2em;
}

table.side-by-side th {
  text-align: left;
}

table.side-by-side td {
  padding: 5px;
}

table.side-by-side th span.fieldRequired {
  color: #DEE7EC;
}

#bungeni-workspace .item {
  width: 50%;
  float: left;
  background: transparent;
}

#bungeni-workspace .even .portlet {
  margin-right: 5px;
}

#bungeni-workspace .odd .portlet {
  margin-left: 5px;
}

.yui-toolbar-group ul {
  list-style-image: none;
}

#portletArchiveDates form .field {
  float: left;
  clear: none;
  margin-right: 1em;
  width: 15em;
}

#portletArchiveDates .widget-dropdownwidget.field {
  width: 19em;
}

#portletArchiveDates #actionsView {
  clear: none;
  float: right;
}

#portletArchiveDates .formHelp {
  display: none;
}

#portletArchiveDates .portletItem {
  padding-bottom: 0;
}
  
#portletArchiveDates label {
  float: left;
  margin-right: 0.6em;
}

#portletArchiveDates .documentDescription {
  display: none;
}

#portletArchiveDates .portletItem.dates-filtered  {
  background: yellow;
}

