#weekly-calendar table {
  width: 100%;
}

#weekly-calendar table th {
  text-align: center;
}

#weekly-calendar table td.hour {
  text-align: center;
  font-weight: bold;
}

#weekly-calendar thead td a.previous-link {
  float: left;
}

#weekly-calendar thead td a.next-link {
  float: right;
}

#weekly-calendar thead td {
  text-align: center;
}