.resize-proxy {
  border-bottom: 10px solid #8CACBB;
}

.delete-link {
  text-transform: lowercase;
}

#calendar-table th.today {
  background-color: rgb(136, 170, 204);
  color: white;
}

#calendar-table th.today a {
  color: white;
}

#calendar-table td.today {
  background-color: rgb(255, 255, 204);
}

#calendar-table {
  height: 300px;
  overflow: auto;
  overflow-y: scroll;
}

#calendar-table {
  border-bottom: 1px solid #8CACBB;
  border-left: 1px solid #8CACBB;
  border-right: 1px solid #8CACBB;
}

#calendar-table div.header {
  background-color: #2952A3;
  padding-left: 0.5em;
}

#calendar-table table.grid td {
  padding: 0;
}

#calendar-table div.sitting {
  padding: 0.5em;
}

div.calendar {
  margin-bottom: 1em;
}

div.calendar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

div.calendar table th {
  text-align: center;
}

div.calendar table td.hour {
  text-align: center;
  font-weight: bold;
  padding: 0.25em !important;
}

div.calendar table tbody td {
  vertical-align: top;
  border-color: #ddd;
}

div.calendar thead td a.previous-link {
  float: left;
}

div.calendar thead td a.next-link {
  float: right;
}

div.calendar thead td {
  text-align: center;
}

div.calendar td.sitting {
  background-color: rgb(102, 140, 217) !important;
}

div.calendar td.sitting ul.actions,
div.calendar td.sitting ul.items {
  list-style: none;
  margin: 0;
}

div.calendar td.sitting ul.actions li {
  float: right;
  margin: 0;
  padding: 0;
}

div.calendar td.sitting li,
div.calendar td.sitting span,
div.calendar td.sitting a {
  color: white;
  border: none;
}

div.calendar td.sitting .discreet {
  color: #ccf;
}

#weekly-calendar #calendar-table th.day {
  width: 14%;
}

#daily-calendar #calendar-table th.day {
  width: 95%;
}