.report_mainTitle
{
    text-align:center;
}

.report_title
{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    white-space:nowrap;
}

.report_date
{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    white-space:nowrap;
}

.report_body
{
    width: 80%; margin: 0 auto;
}

.report_mainTitle span
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    white-space:nowrap;
}
