#portal-globalnav {
  position: relative;
  width: 100%;
  height: 3em;
  width: 85em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#portal-globalnav ul.level0 {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -1px;
  width: 85em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#portal-globalnav ul.level0 li  {
  display: inline;
  list-style: none;
}

#portal-globalnav ul.level0 a,
#portal-globalnav ul.level0 span,
#portal-globalnav ul.level0 a.current {
  display: block;
  float: left;
  padding: 4px 10px;
  margin: 1px -1px 0 0;
  text-align: center;
  font-family: tahoma, verdana, sans-serif;
  text-decoration: none;
  color: #333;
}

#portal-globalnav ul.level0 span,
#portal-globalnav ul.level0 a.current,
#portal-globalnav ul.level0 a.current:hover {
  border: 1px solid #666;
  border-bottom: none;
  background: #FFF3B3;
  padding-bottom: 6px;
  margin-top: 0;
}

#portal-globalnav ul.level0 a {
  background: #fff;
  border: 1px solid #aaa;
  border-bottom: none;
}

#portal-globalnav ul.level0 a:hover {
  border-color: #666;
  background-color: #fff;
  color: #000;
}

#portal-globalnav ul.level0 li.selected a {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-bottom-color: #fff;
}

#portal-globalnav ul.level1 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -1.6em;
  left: 1px;
  width: 90em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#portal-globalnav ul.level1 li a,
#portal-globalnav ul.level1 li span {
  width: auto;
  display: block;
  float: left;
  padding: 0 15px;
  margin: 0;
  text-align: auto;
  border: none;
  background: none;
  color: black !important;
}

#portal-globalnav ul.level1 li span {
  font-weight: bold;
}

#portal-globalnav ul.level1 li a {
  color: #06C;
  text-decoration: none;
}

#portal-globalnav ul.level1 li a:hover {
  color: #333;
  background: transparent;
  border: none;
  text-decoration: underline;
}

#portal-globalnav ul.level1 li a:active {
  color: #000;
  background: transparent;
}

#portal-globalnav ul.level1 li:last-child a { border: none; }

#portal-globalnav ul.level1 {

}

#portal-globalnav-bottom {
  border: 1px solid #666;
  clear: both;
  background: #fff;
  padding-top: 2em;
}

/* custom navigation tab styles */

#portal-globalnav ul.level0 li#portaltab-bungeni a,
#portal-globalnav ul.level0 li#portaltab-members a,
#portal-globalnav ul.level0 li#portaltab-koha a,
#portal-globalnav ul.level0 li#portaltab-dspace a,
body.section-bungeni #portal-globalnav ul.level1 li span,
body.section-bungeni #portal-globalnav ul.level1 li a,
body.section-members #portal-globalnav ul.level1 li span,
body.section-members #portal-globalnav ul.level1 li a,
body.section-koha #portal-globalnav ul.level1 li span,
body.section-koha #portal-globalnav ul.level1 li a,
body.section-dspace #portal-globalnav ul.level1 li span,
body.section-dspace #portal-globalnav ul.level1 li a {
  color: white !important;
}

#portal-globalnav ul.level0 li#portaltab-bungeni a,
body.section-bungeni #portal-globalnav-bottom {
  background: #3415ca !important;
  border-bottom-color: #3415ca;
}

#portal-globalnav ul.level0 li#portaltab-members a,
body.section-members #portal-globalnav-bottom {
  background: #4c5ee2 !important;
  border-bottom-color: #4c5ee2;
}

#portal-globalnav ul.level0 li#portaltab-koha a,
body.section-koha #portal-globalnav-bottom {
  background: #00800d !important;
  border-bottom-color: #00800d;
}

#portal-globalnav ul.level0 li#portaltab-dspace a,
body.section-dspace #portal-globalnav-bottom {
  background: #9d1d07 !important;
  border-bottom-color: #9d1d07;
}
