table {
    font: 10px/12px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 94%;
}
th {
    padding: 0.7em;
    text-align: center;
    font-size:1.3em;
    font-style:bold;
    background-color: #FAC548;
}
tr.yellow td th {
    border-top: 1px solid #FB7A31;
    border-bottom: 1px solid #FB7A31;
    background: #FFC;
}
td {
    border-bottom: 1px solid #CCC;
    padding: 0.5em;
    vertical-align:top;
    font-size:1.2em;
}
td:first-child {
    width: 190px;
}
td+td {
    border-left: 1px solid #CCC;
    text-align: center;
}
tr.m0 {
    background-color: #E3FADE;
}
tr.m1 {
    background-color: #ffffff;
}
tr.s0 {
    background-color: #eee;
     
}
tr.s1 {
    background-color: #fff;
     
}
div.ident {
    font-style:normal;
    color:gray;
     
}
div.trig {
    color:dark-gray;
}
/* * for table of content * */
#menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#menu li a {
    font-size:0.9em;
}
.linkbar a {
    font-size: 0.7em;
}
.toc-links a {
    font-size:0.7em;
}
.note {
    font-size:0.9em;
    font-style:italics;
    font-family:helvetica;
    color:gray;
}
h1 {
    font-family:Helvetica;
    font-style:bold;
    font-size:1.3em;
}
h2 {
    font-family:Helvetica;
    font-style:bold;
    font-size:1.1em;
    color:red;
}
h3 {
    font-family:Helvetica;
    font-style:bold;
    font-size:1.1em;
    color:red;
}
h4 {
    font-family:Helvetica;
    font-style:bold;
    font-size:1.1em;
    color:red;
}
h1.main {
    color:#F7E300;
    text-align: center;
    background-color:#3A3B3A;
}
h1.index {
    color:dark-gray;
}
h2.index {
    color:red;
}
div.tag-container{
    border:1px solid #943A1D;
    background-color:#ECDCD8;
}
span.state-tag{
    margin-right:0.5em;
    font-size:14px;
    padding:0.1em;
}
span.block-tag{
    display:block;
    border-bottom:1px solid #ccc;
    background-color:#fff;
    padding:0.1em;
}
