<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"> 
  </head><body><h1>Table of Contents</h1>


Below you can find detailed information about the fields required to set
 up a parliament and add users to the sysetm and the different status in
 which the parliamentary documents can be.
<br>
<ul id="menu">
<li><a href="chamber.html">parliament</a></li> 
  <li><a href="committee.html">committee</a></li>
  <li><a href="group.html">group</a></li>
<li><a href="user.html">user</a></li>
</ul>
<br>
Below you can find detailed information about the fields that the 
different parliamentary documents may have and the different status in 
which the parliamentary documents can be.
<br>
<ul id="menu">
<li><a href="assembly_question.html">assembly question</a></li>
  <li><a href="assembly_motion.html">assembly motion</a></li>
  <li><a href="assembly_bill.html">assembly bill</a></li>
  <li><a href="assembly_tabled_document.html">assembly tabled document</a></li>
  <li><a href="senate_question.html">senate question</a></li>
  <li><a href="senate_motion.html">senate motion</a></li>
  <li><a href="senate_bill.html">senate bill</a></li>
  <li><a href="senate_tabled_document.html">senate tabled document</a></li>
</ul>
<br>
Each document may have attachments and can be versioned. Below you find 
detailed information about the fields and status that they may have.
<br>
<ul id="menu">
<li><a href="attachment.html">attachment</a></li>
</ul>
<br>
Below detailed information about fields and status of the other items present in Bungeni
<br>
<ul id="menu">
<li><a href="agenda_item.html">agenda item</a></li>
<li><a href="heading.html">heading</a></li>
<li><a href="assembly_event.html">assembly event</a></li>
  <li><a href="senate_event.html">senate event</a></li>
  <li><a href="assembly_response.html">assembly response</a></li>
  <li><a href="senate_response.html">senate response</a></li>
  <li><a href="debate_record.html">debate record</a></li>
<li><a href="address.html">address</a></li>
<li><a href="sitting.html">sitting</a></li>
  <li><a href="report.html">report</a></li>
</ul>
</body></html>
