<html xml:lang="en" xmlns:br="http://bungeni.org/reports">
    <br:config>
        <title>Sitting Agenda</title>
        <length>1w</length>
        <language>en</language>
    </br:config>
    <head>
        <title>Sitting Agenda</title>
        <style type="text/css" media="all">
            h2.agendaheading {
                font-weight: bold;
                color: slategray;
                background-color: mistyrose;
                padding: 0.3em 0.6em;
                margin: 0;
            }
            .logo {
                margin-bottom: 1em;
                width: 40px;
                height: 40px;
            }
        </style>
    </head>
    <body> 
        <div id="report-content">
            <h1 class="heading" br:type="text" br:source="title"/>
            <img class="logo" br:type="src" br:src="/@@/images/favicon.ico"/>
            <div id="listing-body" class="body" background="color:green">
                <div br:type="listing" br:source="sittings">
                    <div class="agendaitems">
                        <div br:type="listing" br:source="item_schedule">                           
                            <!-- heading -->                             
                            <h2 br:condition="type_heading" br:type="text" br:source="dc:title" class="agendaheading"/>
                            <!-- items -->
                            <div br:condition="type_document" class="items">
                                <!-- pseudo-item (editorial notes) -->
                                <div br:condition="is_type_text_record">
                                    <span class="editorialnote" br:type="html" br:source="dc:title"/>
                                </div>                                 
                                <!-- proper-item (document) -->
                                <div br:condition="item_mover" class="agendaitem">
                                    <!-- item order number -->
                                    (<span class="item-order" br:condition="planned_order" br:type="text" br:source="planned_order"/>)&#160;&#160;<span br:type="text" br:source="dc:title"/> - 
                                    <span class="itemtype" br:type="text" br:condition="dc:mover" br:source="item_type"/>
                                    <span class="mover" br:condition="dc:mover">
                                        <i>by:</i> <b><span class="agendamovername" br:type="text" br:source="dc:mover"/></b>
                                    </span>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
