<html xml:lang="en" xmlns:br="http://bungeni.org/reports">
  <br:config>
    <title>Bi-Weekly Questions</title>
    <length>2w</length>
    <language>en</language>
  </br:config>
  <head>
    <title>Bi-Weekly Questions</title>
  </head>
  <body> 
    <div id="report-content">
        <h1 class="heading" br:type="text" br:source="title"/>
        <div id="listing-body">
            <div br:type="listing" br:source="sittings">
                <h2 br:type="text" br:source="dc:title"/>
                <h3>Questions</h3>
                <div class="questions">
                    <ul br:type="listing" br:source="questions">
                        <li>
                            <span br:type="text" br:source="dc:title"/>
                            <span>
                                Asked by (<span br:type="text" br:source="dc:mover"/>)
                            </span>
                        </li>
                        <li br:condition="files"><strong>Attachments:</strong>
                            <p br:type="listing" br:source="files">
                                <strong br:type="text" br:source="file_title">
                                    <span>(File Title)</span>
                                </strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   </body>
</html>
