@import url(/static/css/global-styles.css);
/*
 * top-layer
 */
#top-layer {
    height: 20px;
	text-align:center;
	border: 1px solid transparent;
}
.template-portal #top-layer {
    border: 0 none;
    height: 22px;
    font-size: 93%;
}
.template-workspace #top-layer {
	border: 0 none;
    border-bottom: 1px solid #4d4d4d;
	margin: 0;
	padding: 10px 0 0;
	background: #4d4d4d url(/static/images/workspace-border-top.png) top center repeat-x;
}
#top-layer div {
    padding: 0;
    margin: 0 auto;
	border: 0 none;
    height: 25px;
	background: transparent;
}
.template-portal #top-layer div {
    width: 1000px;
    height: 22px;
    background: #fff;
}
#top-layer ul#portal-personaltools {
    padding: 0;
    background: transparent;
    float: right;
    border: 0 none;
    margin: 0;
    line-height: 0.5em;
}
#top-layer ul#portal-personaltools li {
    margin: 0;
    margin: 0 .25em;
    padding: 0;
    height: auto;
    border: 0 none;
	float:left;
}
.template-portal #top-layer ul#portal-personaltools li {
    padding: 0;
    margin: 0;
}
#top-layer ul#portal-personaltools li a {
    display: block;
    margin: 0;
    padding: 0;
    border: 0 none;
    line-height: 22px;
    background: transparent !important;
    text-decoration: underline;
	color: #aaa;
}
.template-portal #top-layer ul#portal-personaltools li a {
    color: #222;
    line-height: 22px;
    text-decoration: none;
}
#top-layer ul#portal-personaltools li a:hover {
    text-decoration: underline;
}
#top-layer ul#portal-languageselector {
    height: 20px;
    float: left;
    padding: 0;
    font-size: 100%;
    margin: 0;
}
.template-workspace #top-layer ul#portal-languageselector {
    margin: 0 1.5em 0 0;
}
#top-layer ul#portal-languageselector li {
	line-height: 20px;
}
#top-layer ul#portal-languageselector li a {
    height: 20px;
    line-height: 20px;
	color: #aaa;
}
.template-portal #top-layer ul#portal-languageselector li a {
	color: #222;
    line-height: 22px;
    height: 22px;
    text-decoration: none;
}
#top-layer ul#portal-languageselector li a:hover {
	color: #888;
}
.template-portal #top-layer ul#portal-languageselector li a:hover {
    color: #fff;
    text-decoration: underline;
}
/*
 * Notes:
 * - set text-decoration to 'none' to remove blinking effect.
 *   support in browsers varies, with the browser having final say
 *   in whether or not the element will be blinked. e.g. it doesn't
 *   work in webkit browsers(chrome/safari)
 */
#top-layer #demoWarning {
    width: 150px;
    height: 18px;
    line-height: 18px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    background: #900;
    text-decoration: blink;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px -1px 1px #222;
    border: 1px solid #a00;
    border-bottom: 2px solid #d00;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0 none;
}
.template-portal #demoWarning {
    float: left;
}


/*
 * Breadcrumbs
 */
#portal-breadcrumbs {
    line-height: 20px;
    font-size: 95%;
    color: #555;
    padding: 0 .25em;
    background: #fff;
    width: auto;
    text-align: left;
    clear: both;
	position: relative;
    margin: 0 0 .5em;
}
#portal-breadcrumbs a:hover {
	text-decoration: underline;
}
.template-portal #portal-breadcrumbs {
    border-top: 1px solid #fff;
    border-bottom:1px solid #4E6EC5;
    margin: 0;
    color: #333;
}
.template-portal #portal-breadcrumbs a {
    color: #111;
    font-style: italic;
}
.template-workspace #portal-breadcrumbs {
    border-bottom:1px solid #d4e2ef;
}

/* portal-searchbox and portal-siteactions are empty tags,
 * so they have been set to display: none because they make
 * the layout break in IE.
 */
/*
 * portal-searchbox
 */
#portal-searchbox {
    background-color:transparent;
    float: right;
    margin: 0;
    padding: 2px 1em 0 0;
    text-align: right;
    text-transform: none;
    white-space: nowrap;
    z-index: 2;
	display: none;
}
#portal-searchbox input.searchButton {
    height: 17px;
}

/*
 * portal-siteactions
 */
#portal-siteactions {
	display: none;
}

/*
 * main-columns
 */
.template-portal div.main-column {
    background: transparent;
    margin: 0;
    padding: 0;
    height: 100%;
}
div.main-column h1 {
    font-size: 125%;
    font-weight: bold;
    font-family: "Times", "Times New Roman", "Helvetica", serif;
    color: #f00 !important;
    background: transparent;
    line-height: 20px;
    display: block;
    margin: 1em 0 .5em;
    padding: 0 .1em;
	text-align: left;
}
.template-workspace div.main-column h1 {
    background: transparent;
}
.template-workspace.section-bungeni-admin div.main-column h1,
.template-workspace.section-bungeni-workspace div.main-column h1 {
    color: #222 !important;
    background: transparent;
    text-align: center;
    text-shadow: 0 0 1px #fff;
    padding: 0;
}
div.main-column h1.title {
	clear: both;
    display: block;
    padding: 0 .5em;
	border: 0 none;
    margin: 1em 0 .5em;
	position: relative;
    font-weight: bold;
    font-size: 125%;
    line-height: 20px;
    text-align: left;
}
.template-workspace.section-bungeni-admin div.main-column h1.title,
.template-workspace.section-bungeni-workspace div.main-column h1.title {
    color: #2E719E;
    text-align: center;
    text-shadow: 0 0 1px #fff;
    font-size: 150%;
    padding: 0;
}
div.main-column h1.reportmaintitle,
div.main-column h1.reportdoctype {
	font-size: 125%;
    color: #222 !important;
}
div.main-column h2 {
    display: block;
	text-align: centerleft;
    text-shadow: 0px 0px 1px #fff;
    line-height: 20px;
    padding: 0 .1em;
    margin: 1.25em 0 .25em;
    font-weight: bold !important;
    font-size: 115%;
    font-family: "Times", "Times New Roman", "Helvetica", serif;
    color: #f00 !important;
    background: transparent;
}
.template-workspace div.main-column h2 {
    background: transparent;
}
.template-workspace.section-bungeni-workspace div.main-column h2,
.template-workspace.section-bungeni-admin div.main-column h2 {
    font-size: 110%;
	color: #222 !important;
	margin-top: 1em;
	text-align: center;
}
div.main-column h2 span {
    font-size: 75%;
    font-weight: normal;
    color: #444;
}
div.main-column h3 {
    display: block;
	text-align: center;
    text-shadow: 0px 0px 1px #fff;
    line-height: 20px;
    font-size: 100%;
    padding: 0;
    font-weight: normal !important;
    margin: .25em 0 .5em;
}
.template-workspace.section-bungeni-workspace div.main-column h3,
.template-workspace.section-bungeni-admin div.main-column h3 {
	font-weight: bold !important;
	color: #222 !important;
	margin-top: 1em;
	text-align: left;
}
.template-workspace div.main-column p {
	text-align: center;
    text-shadow: 0px 0px 1px #fff;
}

/*
 * portal-columns-* styles
 */
.template-portal #portal-columns {
    background: #fff;
    display: inline-block;
    width: 100%;
}
.template-portal #portal-columns:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.template-workspace #portal-columns {
	padding: 0 .5em;
}
#portal-column-two .visualPadding {
    padding: 0;
}

/* portal-column-content */
#portal-column-content {
	position: relative;
	padding: 0;
	margin: 0;
}
.section-bungeni-admin #portal-column-content {
	padding: 0;
	overflow: visible;
}
.section-bungeni-archive #portal-column-content {
	float: none;
}
#portal-column-content.sl {
	margin-left: 17em;
}
.section-bungeni-archive #portal-column-content.sl,
.section-bungeni-workspace #portal-column-content.sl {
	margin: 0;
}
#portal-column-content h1.title {
    font-size: 110%;
    line-height: 20px;
    padding: 0 .1em;
}

/* portal-column-one */
#portal-column-one {
    border-color: #aaf;
	width: 16em;
	float: left;
	position: relative;
}
#portal-column-one .visualPadding {
    padding: 0;
}
.section-bungeni-workspace #portal-column-one {
	float: none;
	width: auto;
	position: absolute;
	z-index: 10051;
	border-color: #FB9C14;
}
.section-bungeni-archive #portal-column-one {
	width: 99.5%;
	float: none;
	margin: 0 auto;
	border-color: #FB9C14;
}

/* portal-footer */
#portal-footer {
    position: relative;
    color: #444;
    text-align: center;
    padding: 0;
    border: 0 none;
    border-top: 1px solid #D4E2EF;
    line-height: 25px;
    background: #fff;
    /* 
     * Sticky Footer
     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer to work.
     * - margin-top must be the same as the height of the footer.
     */
    margin: -25px 1.4em 0;
    height: 25px;
}
.template-portal #portal-footer {
	border-top: 0 none;
    background: #fff;
    clear: both;
    padding: 0px;
	width: 1000px;
    font-size: 95%;
    /* 
     * Sticky Footer
     */
    height: 30px;
    line-height: 30px;
    margin: -30px auto 0;
}
#portal-footer div {
    margin: 0 auto;
    width: 170px;
	height: 25px;
    line-height: 25px;
	background: transparent;
}
.template-portal #portal-footer div {
    width: 150px;
    text-shadow: 0 1px 1px #fff;
    color: #222;
}
.template-workspace div {
	border: 0 none;
}
#portal-footer img {
    display: block;
    float: left;
    margin: .25em;
}


/*
 * documentContent
 */
.documentContent {
    padding: .25em !important;
	border: 0 none;
}
.template-portal .documentContent {
    background: transparent;
}
.section-bungeni-archive .documentContent,
.section-bungeni-business .documentContent,
.section-bungeni-members .documentContent{
    padding: 0 !important;
}
#portal-column-content .documentContent {
	float: left;
	width: 100%;
	padding: 0 !important;
}

#portal-searchbox input.searchButton {
    height: 17px;
}
input.inputLabelActive {
    color: transparent;
}
.links li {
    line-height: 1.54em;
}

/*
 * Calendar Styles for logged out view
 */
.template-workspace.section-bungeni-archive .dhx_cal_container,
.template-workspace.section-bungeni-archive .dhx_scale_bar,
.template-workspace.section-bungeni-archive .dhx_scale_hour,
.template-workspace.section-bungeni-business .dhx_cal_container,
.template-workspace.section-bungeni-business .dhx_scale_bar,
.template-workspace.section-bungeni-business .dhx_scale_hour,
.template-workspace.section-bungeni-members .dhx_cal_container,
.template-workspace.section-bungeni-members .dhx_scale_bar,
.template-workspace.section-bungeni-members .dhx_scale_hour,
.template-portal .dhx_cal_container,
.template-portal .dhx_scale_bar,
.template-portal .dhx_scale_hour {
	background: #C3D1FF;
	border-color: #7595EC;
    color: #222;
}
.template-workspace.section-bungeni-archive .dhx_cal_container,
.template-workspace.section-bungeni-business .dhx_cal_container,
.template-workspace.section-bungeni-members .dhx_cal_container,
.template-portal .dhx_cal_container {
	margin-top: 0;
	margin-bottom: 0;
}
.template-workspace.section-bungeni-archive .dhx_cal_header,
.template-workspace.section-bungeni-archive .dhx_cal_data,
.template-workspace.section-bungeni-business .dhx_cal_header,
.template-workspace.section-bungeni-business .dhx_cal_data,
.template-workspace.section-bungeni-members .dhx_cal_header,
.template-workspace.section-bungeni-members .dhx_cal_data,
.template-portal .dhx_cal_header,
.template-portal .dhx_cal_data{
	border-color: #4E6EC5;
}
.template-workspace.section-bungeni-archive .dhx_cal_tab,
.template-workspace.section-bungeni-business .dhx_cal_tab,
.template-workspace.section-bungeni-members .dhx_cal_tab,
.template-portal .dhx_cal_tab {
	background-image:url(../images/white_tab2.png);
    border: 1px dotted #4E6EC5;
    border-bottom: 0 none;
    height: 17px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.template-workspace.section-bungeni-archive .dhx_cal_prev_button,
.template-workspace.section-bungeni-archive .dhx_cal_next_button,
.template-workspace.section-bungeni-archive .dhx_cal_today_button,
.template-workspace.section-bungeni-business .dhx_cal_prev_button,
.template-workspace.section-bungeni-business .dhx_cal_next_button,
.template-workspace.section-bungeni-business .dhx_cal_today_button,
.template-workspace.section-bungeni-members .dhx_cal_prev_button,
.template-workspace.section-bungeni-members .dhx_cal_next_button,
.template-workspace.section-bungeni-members .dhx_cal_today_button,
.template-portal .dhx_cal_prev_button,
.template-portal .dhx_cal_next_button,
.template-portal .dhx_cal_today_button {
	background-image:url(../images/orange_buttons.png);
}
.template-workspace.section-bungeni-archive .dhx_cal_tab.active,
.template-workspace.section-bungeni-business .dhx_cal_tab.active,
.template-workspace.section-bungeni-members .dhx_cal_tab.active,
.template-portal .dhx_cal_tab.active {
	background-image:url(../images/orange_tab.png);
    background-color: #fff;
}
.template-workspace.section-bungeni-archive .dhx_scale_holder_now,
.template-workspace.section-bungeni-business .dhx_scale_holder_now,
.template-workspace.section-bungeni-members .dhx_scale_holder_now,
.template-portal .dhx_scale_holder_now {
	background-image:url(../images/databg_now2.png);
}
.template-workspace.section-bungeni-archive .dhx_cal_navline,
.template-workspace.section-bungeni-business .dhx_cal_navline,
.template-workspace.section-bungeni-members .dhx_cal_navline,
.template-portal .dhx_cal_navline {
    color: #222;
}
.template-workspace.section-bungeni-archive .dhx_cal_navline .dhx_cal_tab.active,
.template-workspace.section-bungeni-business .dhx_cal_navline .dhx_cal_tab.active,
.template-workspace.section-bungeni-members .dhx_cal_navline .dhx_cal_tab.active,
.template-portal .dhx_cal_navline .dhx_cal_tab.active {
    color: #111;
}

/* end of .template-workspace styles*/

/*
 * whats-on styles are shared by both template-portal and template-workspace.
 */
#portal-column-two #whats-on-overview {
    display: none;
}
#portal-column-content #whats-on-overview {
	clear: both;
	margin: 0;
}
#whats-on-overview h1 {
    font-size:125%;
    text-align: center;
	margin: 0;
}
.template-portal #whats-on-overview h1 {
    text-align: left;
    font-size: 110%;
}
#whats-on-overview h1 a {
    text-decoration: none;
    color: #C8631B !important;
}
.template-portal #whats-on-overview h1 a {
    text-align: left;
    color: #f00 !important;
    text-shadow: none;
}
#whats-on-overview p {
    color: #222;
    text-shadow: 0px 0px 1px #fff;
    text-align:center;
    margin: .25em 0;
    line-height: 20px;
}
.template-portal #whats-on-overview p {
    text-align: left;
}
#whats-on-overview p.documentDescription {
    font-weight: normal;
    text-align: center;
}
.template-portal #whats-on-overview p.documentDescription {
    text-align: left;
}
#portal-column-content #whats-on-overview .whats-on-viewlet {
    border-bottom: 1px solid #ccc;
	padding: 0;
	border-top: 0 none;
	margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd {
    border: 0 none;
    margin: 0 auto .25em !important;
    padding: 0;
	width: 99.5%;
	border-top: 4px solid #F6C92A;
    border-bottom: 1px solid #F6C92A;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul {
    background: #fff;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-bottom-color: #aaa;
	border-top: 0 none;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li {
    margin: 0 0 .5em;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li h2 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    color: #222;
    border-bottom: 1px solid #aaa;
    background: #eee;
	text-align: left;
	text-shadow: 0px 1px 1px #fff;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul {
    margin: 0;
    padding-left: 20px !important;
    border: 0 none;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li {
    margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li a {
    margin: 0;
    padding: 0;
    border: 0 none;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li ul {
    padding-left: 0px !important;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li ul li {
    border: 0 none;
    line-height: 18px;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd ul li ul li ul li h3 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul ul li ul li a {
    background: #fff !important;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul li {
    background: #eee;
    color: #222;
    text-shadow: 0 1px 1px #fff;
    padding: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul ul {
    padding: 0;
    margin: 0;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul ul li {
    margin: 0;
    padding: 0;
    background: #fff;
}
#portal-column-content #whats-on-overview .whats-on-viewlet dd.formPanel ul ul ul {
    list-style-type: square;
    border: 0 none;
    margin-left: 1.5em;
}
#portal-column-content #whats-on-overview .portlet dd {
    margin: 10px 0;
    padding: 0;
}

/*
 * Portlets
 */
.portlet, .portletHeader, .portletFooter { border: 0 none; margin: 0; }
.template-portal .portlet {
    background: transparent;
}
.portletItem { border: 1px solid #FAAD5F; border-top: 0 none; }
#portal-column-two .portletNews, 
#portal-column-two #review-portlet {
	width: 20em;
    margin: 1px -1em 1em 1em;
}
.portletsBelowContentA .portletNews {
  width: 100%;
}
#portal-column-one .portletHeader,
#portal-column-content .portletHeader,
#portal-column-two .portletHeader,
#portal-column-two .portlet dt,
#whats-on-overview .portlet dt {
    background: #E3E3E3;
    line-height: 20px;
	height: 20px;
    text-align: justify;
	text-shadow: 0px 1px 1px #fff;
	position: relative;
	margin: 0;
	padding: 0 .25em;
	width: auto;
}
#portal-column-content .portletHeader span.tile {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
}
#portal-column-one .portletItem,
#portal-column-content .portletItem,
#portal-column-content .portletNews .portletItem,
#portal-column-two .portletItem {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
	position: relative;
	margin: 0;
	padding: 0;
}
#portal-column-one .portletFooter,
#portal-column-content .portletFooter,
#whats-on-overview .portletFooter {
    border: 1px solid #FAAD5F;
}

/* portlet-column-cone portlets */
/* styles specific to section-bungeni-workspace */
.section-bungeni-workspace #portal-column-one dl.portlet,
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem,
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li,
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li.selected,
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li a {
	background: transparent;
	border: 0 none;
	color: #222;
}
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li {
	float: left;
}
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li a {
	padding: 0 .5em;
	margin: 0 .25em 0 0;
	border-right: 1px solid #aaa;
}
.section-bungeni-archive #portal-column-one .portlet .portletItem ul li {
	display: inline;
}
.section-bungeni-archive #portal-column-one .portlet .portletItem ul li a {
	float: left;
}
.template-workspace.section-bungeni-archive #portal-column-one .portlet .portletItem ul li a,
.template-workspace.section-bungeni-business #portal-column-one .portlet .portletItem ul li a,
.template-workspace.section-bungeni-members #portal-column-one .portlet .portletItem ul li a {
	border: 0 none !important;
}
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li.selected a,
.section-bungeni-workspace #portal-column-one dl.portlet dd.portletItem ul li a:hover {
	background: #6CA6CD;
	color: #fff;
}

.section-bungeni-admin #portal-column-one .portlet {
    width: 16em;
	float: left;
}
.section-bungeni-archive #portal-column-one .portlet {
	width: auto;
}
.section-bungeni-archive #portal-column-one .portletNavigationTree {
	width: auto;
}
/* hides the portlet header. */
#portal-column-one .portletHeader {
	display: none;
}
#portal-column-one .portlet .portletItem.even,
#portal-column-one .portlet .portletItem {
	background: #fff;
	overflow: hidden;
	border: 1px solid #FB9C14;
}
.section-bungeni-admin #portal-column-one .portlet .portletItem.even,
.section-bungeni-admin #portal-column-one .portlet .portletItem {
	border-color: #aaa;
}
.section-bungeni-archive.template-portal #portal-column-one .portlet .portletItem.even,
.section-bungeni-archive.template-portal #portal-column-one .portlet .portletItem {
    border: 1px solid #cfcfcf !important;
}
#portal-column-one .portlet .portletItem a {
	background: #fff;
	border: 0 none;
}
#portal-column-one .portlet .portletItem a img {
	margin: 1px 0;
	float: left;
}
#portal-column-one .portlet .portletItem a.navTreeCurrentItem {
    background: #eee;
    border-bottom-color: #aaa !important;
	border-top: 0 none !important;
	line-height: 20px;
}
.template-workspace.section-bungeni-admin #portal-column-one .portletItem a.navTreeCurrentItem,
.template-workspace.section-bungeni-workspace #portal-column-one .portletItem a.navTreeCurrentItem {
	background: #eee;
	border: 0 none !important;
}
#portal-column-one .portlet .portletItem a:hover {
	background: #eee;
}
#portal-column-one .portlet .portletItem ul {
    margin: 0;
	clear: none;
	background: #fff;
}
#portal-column-one .portlet .portletItem ul li {
    display: block;
    line-height: 20px;
	margin: 0;
	list-style-type: none;
}
#portal-column-one .portlet .portletItem ul li a {
    display: block;
    line-height: 20px;
	padding: 0 .5em 0 0;
}
#portal-column-one .portlet .portletItem ul li ul {
	padding-left: 1em;
}
#portal-column-one .portlet .portletItem ul li ul a {
}
#portal-column-one .portlet .portletItem ul li ul li.navTreeCurrentNode {
}
#portal-column-one .portlet .portletItem ul li ul li.navTreeCurrentNode a {
	font-weight: bold;
	background: #eee;
}
#portal-column-one .portlet .portletItem ul li ul li.navTreeCurrentNode ul {
	border-bottom: 1px solid #aaa;
}
#portal-column-one .portlet .portletItem ul li ul li.navTreeCurrentNode ul a {
	font-weight: normal;
	font-size: 95%;
	background: #fff;
	border: 0 none;
}
#portal-column-one .portlet .portletItem ul li ul li.navTreeCurrentNode ul a:hover,
#portal-column-one .portlet .portletItem ul li ul li.navTreeCurrentNode ul a.navTreeCurrentItem {
	background: #eee;
}
#portal-column-one .portlet .portletItem ul li ul li.navTreeCurrentNode ul ul {
	border: 0 none;
}

/* whats-on-overview portlets */
#whats-on-overview .portlet dt {
    padding: 0 2px 0 5px;
    font-weight: normal;
}
#whats-on-overview .portlet dd {
    border: 1px solid #FAAD5F;
    border-top: 0 none;
    margin-top: -6px;
    padding: 0 1em;
}
/* portal-column-two portlets */
#portal-column-two .portlet dd {
    border: 1px solid #FAAD5F;
    border-top: 0 none;
    margin-top: -6px;
}


/*
 * DocumentActions & contentActions
 */
.documentActions {
    clear:both;
}
.contentActions {
	background: url(/static/images/content-actions-bg.png) repeat-x top left;
    margin: .15em 0 1em;
	border: 0 none;
    height: 1.8em;
	padding: 0;
}
.template-workspace.section-bungeni-archive .contentActions,
.template-workspace.section-bungeni-business .contentActions,
.template-workspace.section-bungeni-members .contentActions {
	border: 1px solid #fb9c14 !important;
	background: #fff;
	width: 99.5%;
	margin: 0 auto;
}
.contentActions a {
    color: #000;
    text-decoration: none;
    padding: 0;
}
.contentActions li {
    border-left:1px solid #000;
    float: right;
    z-index: 4;
    height: 1.8em;
    line-height: 1.8em;
    border: 0 none;
    border-left: 1px solid #aaa;
}
.contentActions ul {
    margin: 0;
    padding: 0;
    border: 0 none;
}
.contentActions ul li.context_actions {
	border: 0 none;
}

.actionMenu .actionMenuContent {
    width: 100%;
	right: 0;
}
.actionMenu .actionMenuContent ul {
    border: 1px solid #000;
    border-bottom: 0 none;
    border-top: 0 none;
    background:#f39e39;
    display: block;
    margin: 0;
}
.section-bungeni-workspace .actionMenu .actionMenuContent ul,
.section-bungeni-admin .actionMenu .actionMenuContent ul {
    background: #bdd1d7;
    border: 1px solid #aaf;
    border-bottom: 0 none;
    border-top: 0 none;
}
.actionMenu .actionMenuContent ul li {
    margin: 0;
    border: 0 none;
    display: block;
    border-bottom: 1px solid #aaf;
}
.actionMenu .actionMenuContent ul li a {
    background: none;
    color: #000;
    display: block;
    margin: 0;
    padding: 0 .25em;
}
.actionMenu .actionMenuContent ul li a:hover {
    background: #cceaf3;
    color: #000;
}
dl#context_actions.actionMenu .actionMenuHeader {
	display: none;
}
dl#context_actions.actionMenu.deactivated .actionMenuContent {
	display: block !important;
	position: relative;
	margin: 0;
	padding: 0;
	top: auto;
	left: auto;
}
dl#context_actions.actionMenu .actionMenuContent ul {
	margin: 0;
	padding: 0;
	border: 0 none;
}
dl#context_actions.actionMenu .actionMenuContent ul li {
	float: left;
	border-bottom: 0 none;
}
dl#context_actions.actionMenu .actionMenuContent ul li a {
	padding: 0;
	margin: 0 .25em;
}
.template-workspace dl#context_actions.actionMenu .actionMenuContent ul li a.selected,
.template-workspace dl#context_actions.actionMenu .actionMenuContent ul li a:hover {
	border-right: 1px solid #aaf;
	background-color: #6CA6CD !important;
}


/*
 * portal-globalnav
 */
div#portal-globalnav {
    width: 100%;
    position: relative;
    height: 4em;
	background: #cfcfcf;
    border-top: 1px solid #fff;
}
.template-portal div#portal-globalnav {
    border: 0 none;
    background: #fff;
}
.template-workspace div#portal-globalnav {
	background: #4d4d4d;
    border-top: 0 none;
}
div#portal-globalnav ul.level0 {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 none;
    height: 2em;
    line-height: 2em;
    width: auto;
    list-style-type: none;
    white-space: nowrap;
    background: transparent;
}
.template-workspace div#portal-globalnav ul.level0 {
    border-bottom: 1px solid #aaa;
}
.template-portal div#portal-globalnav ul.level0 li {
    display: block;
    float: left;
    margin: 0 .5em;
}
div#portal-globalnav ul.level0 li a {
    text-shadow: 0px 1px 1px #fff;
    padding: 0 1.25em;
    margin: 0 .25em 0 0;
    color: #222;
    background: #eee;
    border: 1px solid #aaa;
    border-bottom: 1px solid #eee;
}
.template-portal div#portal-globalnav ul.level0 li a {
    text-shadow: none;
    background: transparent;
    border: 0 none;
    border-bottom: 0 none;
    color: #111;
    display: block;
    line-height: 20px;
    padding: 0 .15em;
}
.template-workspace div#portal-globalnav ul.level0 li a {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div#portal-globalnav ul.level0 li.selected a {
    position: relative;
}
.template-workspace div#portal-globalnav ul.level0 li.selected a {
    top: -1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #d8d8d9;
	background:#d8d8d9  url(/static/images/w-globalnav-level0-a.png) top left repeat-x;
}
div#portal-globalnav ul.level0 li.selected a,
div#portal-globalnav ul.level0 li a:hover {
    font-weight: normal;
    position: relative;
    color: #222;
}
.template-portal div#portal-globalnav ul.level0 li.selected a,
.template-portal div#portal-globalnav ul.level0 li a:hover {
    color: #4e6ec5;
    text-decoration: underline;
}
.template-workspace div#portal-globalnav ul.level0 li.selected a,
.template-workspace div#portal-globalnav ul.level0 li a:hover {
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-top: 2px solid #1763aa;
    border-bottom: 1px solid #d8d8d9;
	background: #d8d8d9 url(/static/images/w-globalnav-level0-a.png) top left repeat-x;
}
/*
 * Notes:
 * - this has been positioned absolutely because of it's location in the
 *   html structure, the current layout is:
 *   <ul class="level0">
 *       <ul class="level1">
 *           <li>...</li>
 *        </ul>
 *        <li>...</li>
 *   </ul>
 *   a suggested structure would be to have the <ul> elements separately:
 *   <ul class="level0">...</ul>
 *   <ul class="level1">...</ul>
 */
div#portal-globalnav ul.level0 ul.level1 {
    position: absolute;
    top: 1.95em;
    left: 0;
    height: 2em;
    margin: 0;
    border: 0 none;
    border-top: 0 none;
    width: 99.9%;
	background: #f8f8f6;
}
.template-portal div#portal-globalnav ul.level0 ul.level1 {
    font-size: 95%;
    width: 100%;
    background: #c3d1ff;
    clear: both;
    border-bottom: 1px solid #7595ec;
    border-top: 1px solid #4e6ec5;
}
.template-workspace div#portal-globalnav ul.level0 ul.level1 {
    width: 100%;
    border: 1px solid #aaf;
    border-right: 0 none;
	border-top: 0 none;
	border-bottom:1px solid #d8d8d9;
	background:#d8d8d9 url(/static/images/w-globalnav-level1-bg.png) bottom left repeat-x !important;
}
div#portal-globalnav ul.level0 ul.level1 a {
    background: transparent;
    margin: 0;
    padding: 0 .25em;
    border: 0 none;
    text-shadow: none;
    line-height: 2em;
}
.template-portal div#portal-globalnav ul.level0 ul.level1 a {
    color: #111 !important;
    line-height: 2em;
}
.template-workspace div#portal-globalnav ul.level0 ul.level1 a {
    color: #111 !important;
    line-height: 2em;
    margin: 0 .75em !important;
}
div#portal-globalnav ul.level0 ul.level1 li a:hover {
    background: transparent;
    color: #000;
    text-decoration: underline;
    border: 0 none;
}
div#portal-globalnav ul.level0 ul.level1 li.selected a {
    background: transparent;
    border: 0 none;
    font-weight: bold;
    margin: 0;
    color: #222 !important;
}
.template-portal div#portal-globalnav ul.level0 ul.level1 li.selected,
.template-portal div#portal-globalnav ul.level0 ul.level1 li:hover {
    background: transparent;
}
.template-portal div#portal-globalnav ul.level0 ul.level1 li.selected a,
.template-portal div#portal-globalnav ul.level0 ul.level1 li a:hover {
    background: transparent;
}
.template-workspace div#portal-globalnav ul.level0 ul.level1 li.selected a {
    font-weight: normal;
    padding-top: 2px;
    color: #1763aa !important;
}
/*
 * Notes:
 * this tag is not used for any data or structure.
 * it is used to assist in the page layout. The element(and css) 
 * could be removed from this use by fixing the <ul> element
 * as mentioned in the previous Note.
 */
div#portal-globalnav-bottom {
    display: none;
}

/*
 * portletArchiveDates
 */
.section-bungeni-archive #portletArchiveDates select {
    width: 150px;
}
#portletArchiveDates {
	position: relative;
	margin: 0;
}
#portletArchiveDates .portletHeader {
    text-align: right;
    background: #fff;
    color: #444;
    padding: 0;
	margin-right: 2.5%;
    line-height: 20px;
    border: 0 none;
}
.template-portal #portletArchiveDates .portletHeader {
    background: transparent;
}
#portletArchiveDates .portletHeader span.tile {
	display: inline;
	width: auto;
	text-align: right;
	position: relative;
}
#portletArchiveDates .portletItem {
	border: 0 none;
    padding: 0;
	background: none;
	margin-right: 2.5%;
}
#portletArchiveDates .portletItem form {
    margin: .25em auto;
	float: right;
    border: 1px solid #ccc;
	background: #eee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
	text-shadow: 0px 1px 1px #fff;
	border-bottom: 1px solid #aaa;
}
#portletArchiveDates .portletItem form .field {
    clear: none;
	float: left;
    margin: .25em;
    padding: .15em;
}
#portletArchiveDates .portletItem form .field input {
    border: 1px solid #aaa;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 20px;
    line-height: 18px;
    font-size: 95%;
	margin: .15em;
	background: #fff;
}
#portletArchiveDates .portletItem form .field span.calendarpicker {
	position: relative;
	display: block;
	height: 25px;
	margin: 0;
	z-index: 1000;
}
#portletArchiveDates .portletItem form .field .widget {
	float: left;
	margin: 0 .25em;
	padding: 0;
}
#portletArchiveDates .portletItem form label {
    height: 23px;
    line-height: 25px;
    float: left;
    font-size: 95%;
	margin: .25em 0;
}
#portletArchiveDates .portletItem form #actionsView {
    margin: .25em 0;
    padding: .25em;
    float: left;
    border-left: 1px solid #ccc;
}
#portletArchiveDates .portletItem form #actionsView .actionButtons {
    margin: 0;
    padding: 0;
}
#portletArchiveDates .portletItem form #actionsView .actionButtons input {
    margin: 0 .25em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 25px;
    line-height: 23px;
    text-align: left;
    padding: 0 .5em 0 15px;
    background-position: 5px center;
	background-color: #fff;
}
#portletArchiveDates .portletItem form #actionsView .actionButtons input:hover {
    background-color: #eef;
}
#portletArchiveDates .portletItem form #actionsView .actionButtons input:active {
    background-color: #eef;
    margin-top: 1px;
}
#portletArchiveDates .portletItem.dates-filtered {
    background: #fff !important;
	background: #FFF68F;
	border-color: #EEE685;
	border-bottom-color: #BDB76B;
}
#portletArchiveDates .widget-dropdownwidget.field {
    margin-left: -40px;
    margin-right: 0;
}
#portletArchiveDates .portletItem.dates-filtered form {
	background: #FFF68F;
	border-color: #EEE685;
	border-bottom-color: #BDB76B;
}

/*
 * Table styles
 */
table.listing,
table.listingdescription,
.stx table,
.yui-skin-sam .yui-dt table {
    border: 1px solid #ccc;
    border-bottom-color: #aaa;
    border-right: 0 none;
	border-top: 0 none;
    margin: 0 auto;
	width: 99.5%;
	font-size: 100%;
}
.template-workspace table.listing,
.template-workspace table.listingdescription,
.template-workspace.stx table,
.template-workspace.yui-skin-sam .yui-dt table {
    width: 95%;
}
table.listing,
table.listingdescription,
.stx table {
    /*border-top: 1px solid #6ca6cd;*/
}
.yui-skin-sam .yui-dt table {
}
table.listingdescription[style] {
	width: 99.5% !important;
}

table.listing tr:hover,
table.listingdescription tr:hover,
.stx table tr:hover,
.yui-skin-sam .yui-dt table tr:hover {
    background: #e2f2f9 !important;
}


.section-bungeni-workspace.template-workspace table.listing tr:hover,
.section-bungeni-workspace.template-workspace table.listingdescription tr:hover,
.section-bungeni-workspace.template-workspace.stx table tr:hover,
.section-bungeni-workspace.template-workspace.yui-skin-sam .yui-dt table tr.yui-dt-odd:hover,
.section-bungeni-workspace.template-workspace.yui-skin-sam .yui-dt table tr:hover {
    background:#C2D5FC  !important;
}
.yui-skin-sam .yui-dt table tr.yui-dt-odd {
    background: #F3F3F3;
}
table.listing th,
table.listingdescription th,
.stx table th,
.yui-skin-sam .yui-dt-first th {
	background: #cfcfcf;
    padding: 0 .5em;
    border: 0 none;
    border-left: 1px solid #bbf;
    border-right: 1px solid #88f;
	border-top: 0 none;
    line-height: 20px !important;
    text-shadow: 0px 1px 1px #fff;
    color: #444;
}
.yui-skin-sam .yui-dt-first th {
    height: 20px;
}
.yui-skin-sam .yui-dt-last th {
    background: #fff !important;
    white-space: normal;
}
.yui-skin-sam .yui-dt-first th:active {
}
.yui-skin-sam .yui-dt-first th div {
	padding: 0;
}
.yui-skin-sam .yui-dt-last th input {
    background: #fff;
    border: 1px solid #aaa;
    border-left: 0 none;
    border-bottom: 0 none;
    line-height: 20px;
    height: 20px;
    font-size: 95%;
	font-family: Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0;
}
table.listing th a,
table.listingdescription th a,
.stx table th a,
.yui-skin-sam .yui-dt-first th a {
    color: #222;
    border: 0 none;
}
table.listing td,
table.listingdescription td,
.stx table td,
.yui-skin-sam .yui-dt table tr td {
    border-right: 1px solid #aaa;
    padding: .25em .5em;
    color: #222;
    text-shadow: 0 1px 1px #fff;
}
.template-workspace.section-bungeni-archive table.listing th,
.template-workspace.section-bungeni-archive table.listingdescription th,
.template-workspace.section-bungeni-archive .stx table th,
.template-workspace.section-bungeni-archive.yui-skin-sam .yui-dt-first th,
.template-workspace.section-bungeni-business table.listing th,
.template-workspace.section-bungeni-business table.listingdescription th,
.template-workspace.section-bungeni-business .stx table th,
.template-workspace.section-bungeni-business.yui-skin-sam .yui-dt-first th,
.template-workspace.section-bungeni-members table.listing th,
.template-workspace.section-bungeni-members table.listingdescription th,
.template-workspace.section-bungeni-members .stx table th,
.template-workspace.section-bungeni-members.yui-skin-sam .yui-dt-first th,
.template-portal table.listing th,
.template-portal table.listingdescription th,
.template-portal .stx table th,
.template-portal.yui-skin-sam .yui-dt-first th {
	border-left: 0 none;
	border-top: 0 none;
    border-right: 1px solid #aaa;
	border-bottom:1px solid #777;
    background: #C3D1FF !important;
}
.section-bungeni-archive table {
    margin: auto;
}


/*
 * formTabs
 * Default styles.
 */
dd#items-to-be-scheduled-dl ul.formTabs,
ul.formTabs {
    margin: 0;
    padding: 0;
    border: 0 none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    position: static;
	float: none;
	width: auto;
}
.template-portal dd#items-to-be-scheduled-dl ul.formTabs,
.template-portal ul.formTabs {
    border-bottom-color: #7595EC;
}
dd#items-to-be-scheduled-dl ul.formTabs {
	margin: .7em 0 0;
	border: 0 none;
}
.template-workspace.section-bungeni-workspace ul.formTabs {
    border-bottom: 1px dotted #ccc;
    margin: .5em auto;
    width: 95%;
    height: 30px;
}
dd#items-to-be-scheduled-dl ul.formTabs li.formTab {
	display: inline;
}
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab {
    float: left;
    margin: .25em .5em .25em 0;
}
li.formTab a,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a {
    text-shadow: 0px 1px 1px #fff;
	text-decoration: none;
    color: #444;
    padding: .25em 1em;
    margin: 0 .25em;
    background: #eee;
    line-height: 14px;
    border: 1px solid #aaa;
    border-bottom: 2px solid #eee;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a {
	font-size: 95%;
	display: inline;
	padding: .25em .5em 0;
	margin: 0 .25em 0 0;
	line-height: 16px;
}
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a {
    text-align: left;
    border: 1px solid #ccc;
    border-top-color: #ddd;
    border-bottom-color: #aaa;
    border-radius: 2px;
    -moz-border-radius: 2px;
    display: block;
    margin: 0;
    top: 0;
    background: #f9f9f9;
}
li.formTab a:hover,
li.formTab a:active,
li.formTab a.selected {
    color: #222;
    border-top: 2px solid #4E6EC5;
    border-right: 1px solid #7595EC;
    border-left: 1px solid #7595EC;
	border-bottom: 2px solid #C3D1FF;
	text-decoration: none;
    background:#C3D1FF;
}
li.formTab a.selected {
    position: relative;
    top: 2px;
}
.template-workspace.section-bungeni-workspace li.formTab a.selected {
	background: url(/static/images/w-globalnav-level0-a.png) top left repeat-x;
	border-bottom-color: #6ca6cd;
	text-decoration: none;
}
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a:hover,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a:active,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a.selected,
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a:hover,
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a:active,
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a.selected,
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a:hover,
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a:active,
.template-workspace.section-bungeni-workspace ul.formTabs li.formTab a.selected {
    text-align: left;
    text-decoration: none;
    margin: 0;
    background: #d8d8d9 url(/static/images/w-globalnav-level0-a.png) top left repeat-x;
    border: 1px solid #aaa;
    border-bottom-color: #bbb;
    border-top-color: #999;
    color: #222;
    top: 0;
}
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a:hover,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a:active,
dd#items-to-be-scheduled-dl ul.formTabs li.formTab a.selected {
	border: 1px solid #aaa;
	border-bottom: 0 none;
	top: 1px;
	margin: 0 .25em 0 0;
}
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a:hover,
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a:active,
.template-workspace.section-bungeni-admin ul.formTabs li.formTab a.selected {
	border: 1px solid #aaa;
	border-bottom: 0 none;
	top: 2px;
    margin: 0 .25em;
	line-height: 17px;
}

/*
 * formPanel styles
 */
.formPanel,
dd#items-to-be-scheduled-dl .formPanel {
    padding: 0 !important;
    margin: 0;
	top: -1px;
	text-align: center;
	border: 1px solid transparent;
}
.template-workspace.section-bungeni-workspace .formPanel {
	margin-left: 135px;
}
body.template-workspace.section-bungeni-admin #portal-column-content div#whats-on-overview dl.portlet.whats-on-viewlet.enableFormTabbing
body.template-workspace.section-bungeni-workspace #portal-column-content div#whats-on-overview dl.portlet.whats-on-viewlet.enableFormTabbing  {
	width: auto !important;
	margin-left: 155px;
}
.formPanel h2,
.formPanel ul {
	text-align:left;
}
.formPanel table.listing {
    font-size: 100%;
    text-shadow: 0 0 1px #fff;
    color: #444;
}
.formPanel table.listing tr {
    border-bottom: 1px dotted #aaa;
}
.formPanel form { 
    margin: 0 auto;
    padding: 0 !important;
    border: 0 none;
    text-align: center;
	clear: none;
	float: left;
	width: 100%;
}
.formPanel .field {
    margin: 0 auto !important;
	padding: 0;
    clear: both;
	width: 99.5%;
	height: auto;
    text-align: left;
    border-bottom: 1px dotted #ccc;
	display: inline-block;
	background: #eee;
}
dl.portalMessage {
	width: 99.5%;
	margin: 0 auto;
}
#display_form_spacer {
	width: 99.5%;
	height:20px;
	margin: 0 auto;
	background: #C3D1FF;
}
.template-workspace.section-bungeni-admin .formPanel #display_form_spacer,
.template-workspace.section-bungeni-workspace .formPanel #display_form_spacer {
	background: url(/static/images/w-globalnav-level1-bg.png) bottom left repeat-x;
}
.formPanel .field:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.formPanel .field .content-left-column {
    float: left;
    width: 19%;
    text-align: right;
	color: #111;
    text-shadow: 0 1px 1px #fff;
    font-weight: bold;
	margin: 0;
    padding: .15em .5em;
	border: 0 none;
    line-height: 20px;
	background: #eee;
}
.formPanel .field .content-right-column {
    width: 79%;
    float: right;
    display: block;
    text-shadow: 0 0 1px #fff;
    color: #333;
    padding: .15em;
	border: 0 none;
    line-height: 20px;
	margin: 0;
	background: #fff;
}
.formPanel .field .content-right-column div,
.formPanel .field .content-right-column.widget {
	margin: 0;
	/*
	width: auto;
	float: none;
	*/
}
dd.Report.formPanel .field .content-right-column.widget {
	width: 100%;
}
.formPanel .field .content-right-column div div {
    margin: .75em 0;
    line-height: 18px;
}
.formPanel .field .content-right-column strong {
    font-weight: bold;
}
.formPanel .field .content-right-column em {
    font-style: italic;
}
.formPanel .field .content-right-column sub {
    font-size: xx-small;
    vertical-align: bottom;
}
.formPanel .field .content-right-column sup {
    font-size: xx-small;
    vertical-align: top;
}
.formPanel .field .content-right-column ul,
.formPanel .field .content-right-column ol {
    margin: 1em;
    padding: 0 0 0 2.5em;
    list-style-position: outside;
}
.formPanel .field .content-right-column ul {
    list-style-type:square;
}
.formPanel .field .content-right-column ol {
    list-style-type:decimal;
}
.formPanel .field .content-right-column li {
    margin: .5em 0;
    line-height: 18px;
}
.formPanel.Report4Sitting .field {
	background: #fff;
}
.formPanel.Report4Sitting .field .content-left-column {
	width: 5%;
}
.formPanel.Report4Sitting .field .content-right-column {
	float: left;
	width: 90%;
}
.formPanel.Report4Sitting .field .content-right-column,
.formPanel.Report4Sitting .field .content-right-column h1,
.formPanel.Report4Sitting .field .content-right-column h2 {
	text-align: left;
}

/*
 * Calendar
 */
div.calendar th.description a,
div.calendar span.sitting-type,
div.calendar div.sitting {
    color: #444;
}

/*
 * YUI button styles
 */
span.yui-button.yui-link-button span a {
	padding: 0 3px;
	line-height: 1.5em;
	height: 1.5em;
	min-height: 1.5em;
	font-size: 90%;	
}

/*
 * YUI paginator styles
 */
.yui-dt-paginator {
	margin: 0 auto !important;
	padding: 0;
	font-size: 90%;
	line-height: 16px;
	height: 20px;
	text-align: left;
	width: 99.5%;
}
#yui-dt0-paginator0, #yui-dt1-paginator0, #yui-dt2-paginator0, #yui-dt3-paginator0, #yui-dt4-paginator0 {
	display: none;
}
.yui-dt-paginator select {
	font-size:95%;
	color: #444;
	padding: .1em;
	margin: 0;
	background: #fff;
	border: 1px solid #ccc;
}
.yui-dt-paginator select:hover {
	border: 1px solid #aaa;
	color: #444;
}
.yui-skin-sam .yui-button {
	margin: 0 .25em;
}
.yui-skin-sam .yui-split-button button,
.yui-skin-sam .yui-menu-button button {
	padding: .15em .25em;
}

/*
 * .template-portal styles.
 */
.template-portal {
    margin: 0;
    text-align: center;
    background: #fff;
    /* 
    * Sticky Footer.
    * more information: http://www.cssstickyfooter.com/
    * these are requried to make the fotter stick to the 
    * bottom of the page
    */
    height: 100%;
}
.template-portal #visual-table-wrapper {
    background: #fff;
    width: 1000px;
    text-align: left;
    margin: 0 auto !important;    
    padding: 0;
    /* 
    * Sticky Footer.
    * more information: http://www.cssstickyfooter.com/
    * - these are requried to make the footer stick to the 
    *   bottom of the page.
    */
    height: auto;
    min-height: 100%;
}
.template-portal #portal-logo {
    display: block;
    margin: 0;
    padding: 0;
	height: 150px;
	background: #fff url(../images/banner.jpg) 0 0 no-repeat;
}
/* 
 * if display is set to block it will display the logo used on the workspace
 */
.template-portal #portal-logo img {
    display: none;
}
.template-portal #main-body-table {
    margin: 0;
    padding: 0;
	width: 100%;
    /* 
    * Sticky Footer.
    * more information: http://www.cssstickyfooter.com/
    * - these are requried to make the footer stick to the 
    *   bottom of the page.
    * - padding bottom must have the same value as the 
    *   height of the footer.
    */
    padding-bottom: 30px;
    position: relative;
}
/* end of .template-portal styles*/
/*
 * .template-workspace styles.
 */
.template-workspace {
    margin: 0;
    padding: 0;
	background: #4d4d4d url(/static/images/workspace-border-left.png) repeat-y top left;
    /* 
     * Sticky Footer
     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer to work.
     */
    height: 100%;
}
.template-workspace #visual-table-wrapper {
	position: relative;
    padding: 0 1.4em 0 0;
    text-align: left;
    margin: 0;
	margin-left: 1.4em;
	background: #fff url(/static/images/workspace-border-right.png) top right repeat-y;
    /* 
     * Sticky Footer
     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer
     */
    height: auto;
    min-height: 100%;
}
.template-workspace span#corner-a,
.template-workspace span#corner-b {
	position: absolute;
	top: 0;
	display: block;
	width: 16px;
	height: 16px;
}
.template-workspace span#corner-a {
	left: 0;
	background: #4d4d4d url(/static/images/workspace-border-left-corner.png) top left no-repeat;
}
.template-workspace span#corner-b {
	right: 0;
	background: #4d4d4d url(/static/images/workspace-border-right-corner.png) top right no-repeat;
}
.template-workspace #main-body-table {
	background: #fff;
    width:100% !important;
    padding: 0;
    /* 
     * Sticky Footer
     * more information: http://www.cssstickyfooter.com/
     * - required for sticky footer
     * - the padding-bottom must be the same as the height of the footer.
     */
    padding-bottom: 25px;
    position: relative;
}
.template-workspace #portal-logo {
    display: block;
    height: 50px;
	margin: 0;
	padding: .5em 0;
    background:#4d4d4d url(/static/images/empowered.png) center right no-repeat;
}
.template-workspace #portal-logo img {
    border: 0 none;
    margin: 0;
    padding:0;
}


/*
 * random styles
 */
#document-action-sendto, 
#document-action-extedit,
dt#fieldsetlegend-display-form-workspace,
.workspace-content .documentEditable,
img.sortdirection,
h4.tabberHeading {
    display:none;
}
#content a[href^="http:"], #content a.link-external {
    background:transparent;
    padding: 1px 0 1px 16px;
	padding: .1em;
}
#tabber-block .documentFirstHeading{
    margin-top: 2em;
}

.template-web_pages ul.contentViews,
.template-private_folder ul.contentViews,
.template-web_pages #plone-contentmenu-actions,
.template-private_folder #plone-contentmenu-actions,
.template-web_pages #plone-contentmenu-workflow,
.template-privateshell_folder #plone-contentmenu-workflow {
    display: none;
}
.indItem {
    margin-left: 1.5em;
}
#link-presentation {
    display: none;
}
.section-have-your-say .discreet {
    display: none;
}
.section-bungeni-archive .documentContent {
    padding: 0 0 2em !important;
}
.documentDescription {
    font-weight: normal;
	text-align: left;
}
.template-workspace .documentDescription {
    text-align: center;
}
.documentEditable {
	margin: 0;
	padding: 0 !important;
}
.documentEditable .documentContent {
	border: 0 none;
}
.contentViews {
    border-color: transparent;
    border: 1px solid black;
}
.odd {
    background: transparent;
}
.even {
    background: #F3F3F3;
}


.section-bungeni-login #alchemist-form{
    width: 190px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
}

.zc-table-batching-pager-next,
.zc-table-batching-pager-prev {
    font-weight: normal;
    cursor: pointer;
}

.zc-table-batching-pager-next:hover,
.zc-table-batching-pager-prev:hover {

    text-decoration:underline;
}