Section: misc
Priority: optional
Maintainer: Ashok Hariharan <ashok@parliaments.info>, Samuel Weru <samweru@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.exist-db.org
Package: bungeni-exist-db
Version: __EXIST_VER__
Architecture: __ARCH__
Installed-Size: __SIZE__
Depends: bungeni
Description: The eXist XML Db is used as a repository for AkomaNtoso documents by Bungeni.
