
:focus {
	outline: 0;
}

body.template-portal {
	background: #fff url(../images/bg.jpg) top left repeat-x;
	color: black;
	cursor: default;
	width: 100%;
	height: 100%;
	line-height: 18px;
	text-align: center;
	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif;
}
.template-portal #top-layer ul#portal-languageselector li.selected {
	border: 0 none;
}
.template-portal #top-layer ul#portal-languageselector li.selected a {
	background: transparent;
	font-weight: bold;
}
.template-portal a {
	color: #090;
	text-decoration: none;
}
.template-portal a:hover {
	color: #147;
	text-decoration:underline;
}
.template-portal div.main-column {
	background: #fff;
	height: 100%;
	margin: 0 2em;
	padding: 0;
}
.template-portal h1 {
	font-size: 200%;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #222;
	text-transform: capitalize;
	text-shadow: 0px 1px 1px #fff;
	line-height: 30px;
	display: block;
	margin: 0;
}
.template-portal h1 a {
	font-size: #090;
}
.template-portal #top-layer {
	height: 25px;
	border: 1px solid #000;
	background: #000;
}
.template-portal #top-layer {
	height: 25px;
	text-align: center;
}
.template-portal #top-layer div {
	margin: 0 auto;
	padding: 0;
	width: 920px;
	height: 35px;
	position: relative;
}
.template-portal #top-layer ul#portal-languageselector {
	height: 25px;
	margin: 0;
	float: left;
	padding: 0;
	font-size: 100%;
}
.template-portal #top-layer ul#portal-languageselector a {
	color: #090;
	line-height: 25px;
}
.template-portal #top-layer ul#portal-languageselector a:hover {
	color: #090;
}
.template-portal #top-layer ul#portal-personaltools {
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
	float: right;
}
.template-portal #top-layer ul#portal-personaltools li {
	margin: 0;
	padding:0;
	height: auto;
	border: 0 none;
}
.template-portal #top-layer ul#portal-personaltools li a {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 25px;
	text-decoration: none;
	text-transform: capitalize;
	border: 0 none;
	background: none;
	color: #090 !important;
}
.template-portal #top-layer ul#portal-personaltools li a:hover {
	text-decoration: underline;
}
.template-portal #visual-table-wrapper {
	height: auto;
	min-height: 95%;
	margin: 0 auto;
	width: 980px;
	text-align: left;
	background: none;
}

.template-portal #main-body-table {
	width: 980px;
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	position: relative;
}
.template-portal #portal-footer {
	height: 25px;
	line-height: 25px;
	padding: 0;
	border: 0 none;
	margin: -25px auto 0;
	width: 980px;
	background: #fff;
	color: #444;
	position: relative;
	text-align: center;
	text-transform: capitalize;
}
.template-portal #portal-footer div {
	margin: 0 auto;
	width: 170px;
}
.template-portal #portal-footer img {
	display: block;
	float: left;
	margin: 0 .25em;
}

.template-portal #main-body-table .left-column,
.template-portal #main-body-table .right-column {
	display: none;
}

.template-portal #portal-logo {
	height: 135px;
	display: block;
	background: url(../images/logo.jpg) top left no-repeat;
	margin: 0;
	padding: 0;
}

.template-portal .main-column {
	background: none;
	border-bottom: 2px solid #f00;
}

.template-portal #portal-searchbox {
	background-color:transparent;
	float: right;
	margin:0;
	padding:2px 1em 0 0;
	text-align: right;
	text-transform: none;
	white-space: nowrap;
	z-index: 2;
}

/*Navigation styles - portal*/
.template-portal div#portal-globalnav {
	display: block;
	padding: 0;
	margin: 0;
	border: 0 none;
	height: 58px;
}

.template-portal div#portal-globalnav ul.level0 {
	position: relative;
	bottom: auto;
	display: block;
	background: #000;
	list-style-type: none;
	white-space: nowrap;
	width: auto;
	margin: 0;
	padding: 0;
	border: 0 none;
	height: 58px;
}
.template-portal div#portal-globalnav ul.level0 li {
	display: block;
	float: left;
	background: none;
	border: 0 none;
	margin: 0;
	padding: 0;
}

.template-portal div#portal-globalnav ul.level0 li a {
	display: block;
	padding: 0 10px;
	background: #000;
	color: #fff;
	margin:0;
	border: 0 none;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 100%;
	height: 34px;
	line-height: 34px;
}
.template-portal div#portal-globalnav ul.level0 li a:hover {
	background: #ddd;
	color: #000;
}
.template-portal div#portal-globalnav ul.level0 li.selected a {
	background: #f00;
	color: #fff;
}

.template-portal div#portal-globalnav ul.level0 ul.level1 {
	background: #f00;
	padding:0;
	margin: 0;
	width: 100%;
	position: absolute;
	display: block;
	top: 34px;
	left: 0;
	height: 24px;
}
.template-portal div#portal-globalnav ul.level0 ul.level1 li {
	display: block;
	float: left;
}
.template-portal div#portal-globalnav ul.level0 ul.level1 li.navigation a {
	color: #fff !important;
	background: none;
	line-height: 24px;
	height: 24px;
	font-size: 90%;
} 
.template-portal div#portal-globalnav ul.level0 ul.level1 li.selected a {
	color: #fff;
}
/*
.section-front-page .template-portal div#portal-globalnav ul.level0 li.selected a,
.template-portal .section-bungeni-workspace_archive div#portal-globalnav ul.level0 li#portaltab- a,
.template-portal .section-bungeni-calendar div#portal-globalnav ul.level0 li#portaltab- a
{
	background-color: #fae2a1;
	border-top: 0.5px solid #faa631;
	border-left: 1px solid #faa631;
	border-right: 1px solid #faa631;
	border-bottom: 5px solid #faa631;
	font-weight:bold;
	padding:0 10px;
	height: 1.1em;
}
*/

.template-portal div#portal-globalnav-bottom {
	margin: 0;
	padding: 0;
	height: 10px;
	background: none;
	border: 0 none;
}

.template-portal #portal-personaltools {
	margin: 0;
	border: 0 none;
	float: right;
	padding: 0 .25em;
	text-align: left;
	text-transform: capitalize;
	border-left: 1px solid #eee;
	background: none;
	line-height: 18px;
}

.template-portal div ul#portal-languageselector {
	margin: .25em;
}
.template-portal div ul#portal-languageselector li.selected {
	border: 1px solid #aaa;
	background: 1px solid #eee;
}
.template-portal div ul#portal-laanguageselector li.selected a {
	background: none;
}

.template-portal #portal-breadcrumbs {
	padding:.25em 1.25em;
	margin: 0;
	text-transform: capitalize;
	background: #fff;
	border: 0 none;
}
.template-portal .contentActions {
	background-color: #ea8712;
	border-left: transparent;
	border-right: transparent;
	margin-bottom: 10px;
	padding-top: 3px;  
}
.template-portal .actionMenu .actionMenuContent li a:hover {
	background-color:#ffd79f;
	color:Black;
}
.template-portal .actionMenu .actionMenuContent ul {
	background:#f39e39 none repeat scroll 0 0;
	border-color: black;
	border-style:none solid solid;
	border-width:1px;
	display:block;
	margin:-2px 0 0;
	padding:0;
}

.template-portal #portal-columns {
	margin: 0;
	padding: 0;
	background: #fff;
}
.template-portal #portal-column-content {
	margin: 0;
	padding: 0;
}


/*
 * portletArchiveDates
 */
.template-portal #portletArchiveDates {
	margin: 0 0 .5em;
	border: 1px solid #eee;
}
.template-portal #portletArchiveDates .portletHeader {
	border: 0 none;
	background: none;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	color: #090;
	text-transform: capitalize;
	text-align: left;
	line-height: 20px;
}
.template-portal #portletArchiveDates .portletItem {
	border: 0 none;
	border: 1px solid #aaa;
}

/*
 * #content
 */
.template-portal #portal-column-content #content .title {
	font-size: 135%;
	color: #090;
}

/*
 * tables
 */
.template-portal .yui-skin-sam .yui-dt table {
	border: 1px solid #00f;
}

.template-portal li.formTab a:hover,
.template-portal li.formTab a:active,
.template-portal li.formTab a.selected {
	background:#fff;
	color: #222;
	border-top: 2px solid #222;
}
.template-portal #portal-column-one .portletHeader,
.template-portal #portal-column-content .portletHeader,
.template-portal #portal-column-two .portletHeader,
.template-portal #portal-column-two .portlet dt,
.template-portal #whats-on-overview .portlet dt
.template-portal #whats-on-overview .portlet dt {
  border-color:#222;
}
.template-portal #portal-column-one .portlet,
.template-portal #portal-column-one .portlet .portletHeader,
.template-portal #portal-column-one .portlet .portletItem {
  border-color: #222;
}

.template-portal.yui-skin-sam .yui-dt-first th,
.template-portal table.listing th,
.template-portal .stx table th {
	background: url(../images/table-bg.png) repeat-x top left !important;
	border-left: 0 none;
	border-right: 1px solid #aaa;
}
template-portal.yui-skin-sam .yui-dt-first th:active {
	background: url(../images/table-bg-active.png) repeat-x top left !important;
}
.template-portal .formPanel form .field {
	border-bottom: 0 none;
}
.template-portal .formPanel form .field .content-left-column {
	border-bottom: 1px dotted #aaa;
  padding: .25em 1em .25em .25em;
}
.template-portal .formPanel form .field .content-right-column {
  /*
     width: 80%;*/
	width: 600px;
	float: left;
	display: block;
	text-shadow: 0px 0px 1px #fff;
	color: #333;
	padding: .25em .25em .25em 1em;
	background: #f2f2f2;
	border-bottom: 1px dotted #aaa;
}