/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(http://flowplayer.org/tools/img/scrollable/arrow/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:40px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(http://flowplayer.org/tools/img/scrollable/arrow/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 860px;
	height:120px;

	/* custom decorations */
	border:1px solid #ccc;
	background:url(/img/global/gradient/h300.png) repeat-x;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:25000em;
	position:absolute;
	clear:both;
}

/* panes */
#flowpanes {
	width:730px;
	height:450px;	
}


/* single pane */
#flowpanes div {
	display:none;	
	color:#000;	
	margin:20px 65px;
}

/* some decorations for elements inside single pane */
#flowpanes div h2 {
	font-weight:normal;
	color:#ddd;
	letter-spacing:1px;
	margin:10px 0 0 0;
	font-size:22px;	
}

#flowpanes a {
	color:#cc9;		
	font-size:14px;
}

#flowpanes p, #flowpanes samp {
	color:#ccc;		
}

#flowpanes .narrow {
	padding-right:160px;		
}


	

	/* override the root element to enable scrolling */
	#flowpanes {
		position:absolute;
		overflow:hidden;
		
	}

	/* override single pane */
	#flowpanes div {
		float:left;
		display:block;
		width:670px;
		font-size:14px;
	}

	/* our additional wrapper element for the items */
	#flowpanes .items {
		width:20000em;
		position:absolute;
		clear:both;
		margin:0;
		padding:0;
	}

	#flowpanes .less, #flowpanes .less a {
		color:#999 !important;
		font-size:11px;
	}




.items div {
	float:left;
	width:680px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:20px 5px 20px 21px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:100px;
	height:75px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}







