.containers {
    float:left;
    clear: both;
    margin-right: 2em;
    margin-top: -2em;
}

.template-memberspace_view  .containers h2 {

}

.template-memberspace_view  div.containers {
    background: none repeat scroll 0 0 #fffff;
    border-bottom: 1px solid #8CACBB;
    border-right: 1px solid #8CACBB;
    border-top: 1px solid #8CACBB;
    border-left: 1px solid #8CACBB;
    font-weight: normal;
    padding: 0.25em 1em;
    margin-right: 5em;
}

#flowpanes {
    background: none repeat scroll 0 0 #DEE7EC;
    border: 2px solid #024395;
    margin-left: 11.5em !important;
    margin-top: 4em !important;

}
#flowpanes dt a {
    color: black !important;
}

#flowpanes  dd {
    color: grey;
    margin-bottom: 12px !important;
}

#content .containers ul.tabs a {
    border-radius: 0 0 0 0 !important;
}

