<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"> 
  </head><body><h1>Table of Contents</h1>


Below you can find detailed information about the fields required to set
 up a parliament and add users to the sysetm and the different status in
 which the parliamentary documents can be.
<br>
<ul id="menu">
<li><a href="parliament.html">parliament</a></li> 
<li><a href="user.html">user</a></li>
</ul>
<br>
Below you can find detailed information about the fields that the 
different parliamentary documents may have and the different status in 
which the parliamentary documents can be.
<br>
<ul id="menu">
<li><a href="question.html">question</a></li>
<li><a href="motion.html">motion</a></li>
<li><a href="bill.html">bill</a></li>
<li><a href="tableddocument.html">tabled document</a></li>
</ul>
<br>
Each document may have attachments and can be versioned. Below you find 
detailed information about the fields and status that they may have.
<br>
<ul id="menu">
<li><a href="attachedfile.html">attached file</a></li>
<li><a href="version.html">version</a></li>
</ul>
<br>
Below detailed information about fields and status of the other items present in Bungeni
<br>
<ul id="menu">
<li><a href="agendaitem.html">agenda item</a></li>
<li><a href="heading.html">heading</a></li>
<li><a href="event.html">event</a></li>
<li><a href="address.html">address</a></li>
<li><a href="groupsitting.html">groupsitting</a></li>
<li><a href="committee.html">committee</a></li>
<li><a href="groups.html">groups</a></li><li><a href="report.html">report</a></li>
</ul>
</body></html>
