<html xml:lang="en" xmlns:br="http://bungeni.org/reports">
  <br:config>
    <title>Weekly Business</title>
    <length>1w</length>
    <language>en</language>
  </br:config>
  <head>
    <title>Weekly Business</title>
  </head>
  <body> 
    <div id="report-content">
        <h1 class="heading" br:type="text" br:source="title"/>
        <div id="listing-body">
            <div br:type="listing" br:source="sittings">
                <h2 br:type="text" br:source="dc:title"/>

                <h3>Questions</h3>
                <div class="questions">
                    <ul br:type="listing" br:source="questions">
                        <li>
                            <span br:type="text" br:source="dc:title"/>
                            <span>
                                Asked by (<span br:type="text" br:source="dc:mover"/>)
                            </span>
                        </li>
                    </ul>
                </div>

                <h3>Motions</h3>
                <div class="motions">
                    <ul br:type="listing" br:source="motions">
                        <li>
                            <span br:type="text" br:source="dc:title"/>
                            <span>
                                Moved by (<span br:type="text" br:source="dc:mover"/>)
                            </span>
                        </li>
                    </ul>
                </div>

                <h3>Tabled Documents</h3>
                <div class="tableddocuments">
                    <ul br:type="listing" br:source="tableddocuments">
                        <li>
                            <span br:type="text" br:source="dc:title"/>
                            <span>
                                Tabled By (<span br:type="text" br:source="dc:mover"/>)
                            </span>
                        </li>
                    </ul>
                </div>

                <h3>Bills</h3>
                <div class="bills">
                    <ul br:type="listing" br:source="bills">
                        <li>
                            <span br:type="text" br:source="dc:title"/>
                            <span>
                                Presented by (<span br:type="text" br:source="dc:mover"/>)
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   </body>
</html>
