Section: misc
Priority: optional
Maintainer: Samuel Weru <samweru@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://postgresql.org/
Package: bungeni-postgresql
Version: __POSTGRES_VER__
Architecture: __ARCH__
Installed-Size: 679208
Depends: bungeni
Description: PostgreSQL is a powerful, open source object-relational database system. It has more than 15 years of active development and a proven architecture that has earned it a strong reputation for reliability, data integrity, and correctness.
