[buildout]
parts =
    plone
    zope2
    productdistros
    instance
    zopepy
    console

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

# Add additional eggs here
# elementtree is required by Plone
eggs =
    elementtree
    borg.localrole
    archgenxml
    imsvdex
    
# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/appy

develop-links =
    appy

newest = false

[console]
# python interpreter w/ app eggs for all entry points found in these eggs
recipe = zc.recipe.egg
extra-paths = ${zope2:location}/lib/python
eggs =
       ${buildout:eggs}

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL, 
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
recipe = plone.recipe.distros
urls = http://plone.org/products/linguaplone/releases/2.0/LinguaPlone-2.0.tar.gz
       http://getpaid.googlecode.com/files/MaildropHost-1.20.tgz
       http://downloads.sourceforge.net/quintagroup/qRSS2Syndication-0.5.1.tar.gz
nested-packages =
version-suffix-packages = 

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8082
debug-mode = on
verbose-security = on

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} ${plone:eggs} my.package
eggs =
    ${buildout:eggs}
    ${buildout:develop-links}   
    ${plone:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml = 
     borg.localrole

products =
    ${buildout:directory}/products
    ${buildout:directory}/vendor-products
    ${buildout:directory}/parts/productdistros
    ${productdistros:location}
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = python
extra-paths = ${zope2:location}/lib/python
scripts = python
