<html xml:lang="en" xmlns:br="http://bungeni.org/reports">
  <br:config>
    <title>Questions Under Consideration - Monthly</title>
    <language>en</language>
    <length>4w</length>
    <doctypes>question</doctypes>
  </br:config>
  <head>
    <title>Questions Under Consideration - Monthly</title>
  </head>
  <body> 
    <div id="report-content">
        <h1 class="heading" br:type="text" br:source="title"/>
        <table border="1">
            <tbody br:type="listing" br:source="questions">
                <tr>
                    <td br:type="text" br:source="doc_id"/>
                    <td br:type="text" br:source="dc:title"/>
                </tr>
            </tbody>
        </table>        
    </div>
   </body>
</html>
