



/* formTabs
-------------------------------------------------------------- */
.formPanel form {
    text-align: left;
    margin:10px 0;
}
.formPanel .field, 
#version-history .diff {
    margin: 0 auto !important;
    padding: 0;
    clear: both;
    width: 100%;
    height: auto;
    display: inline-block;
}
    .formPanel .field .content-left-column, 
    #version-history .diff h4 {
        float: left;
        width: 19%;
        margin: 0;
        padding: .15em .5em;
        line-height: 20px;
    }
    .formPanel .field .content-right-column {
        width: 79%;
        float: right;
        padding: .15em;
        line-height: 20px;
        margin: 0;
    }    
    .formPanel .field .content-right-column div, 
    .formPanel .field .content-right-column.widget {
        margin: 0;
    }  
    

/* Portlets
-------------------------------------------------------------- */
.portletHeader {
    clear:none;
}
.portletHeader span.tile {
    line-height:20px;
}
    #portletArchiveDates .portletItem form {
        margin: .25em auto;
        padding:0 10px 0 5px;
        float: right;
        border: 1px solid #CCC;
        background: #EEE;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        text-shadow: 0 0 0 white;
        border-bottom: 1px solid #AAA;        
    }
    #portletArchiveDates .portletItem form #actionsView {
        margin: 0;
        padding: 0;
        float: left;
    }    
        #portletArchiveDates form .field {
            float: left;
            clear: none;
            margin-right: 5em;
            width: auto;
            white-space: nowrap;
        }
            #portletArchiveDates label {
                float: left;
                margin-right: 0.6em;
            }
            #portletArchiveDates .portletItem form .field input {
                height: 20px;
                line-height: 18px;
                margin: .15em;        
                width:auto;
            }            

/* Titles
-------------------------------------------------------------- */    
#region-content h1,
#region-content h3,
#region-content h4 {
    text-align:center;
}
.documentDescription {
    text-align:center;
}  

/* Tables
-------------------------------------------------------------- */ 
table.listing,
.yui-dt table {
  width: 100%;
  margin-bottom: 10px;
}

table.listing th,
table.listing td,
.yui-dt table th,
.yui-dt table td {
    padding: 4px 5px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;  
    max-width:50px;
    width:auto;  
    min-width:10px;    
}

table.listing th,
.yui-dt table th {
  font-weight: bold;
}

table.listing thead th,
.yui-dt table thead th {
  vertical-align: bottom;
}

table.listing caption + thead tr:first-child th,
table.listing caption + thead tr:first-child td,
.yui-dt table caption + thead tr:first-child th,
.yui-dt table caption + thead tr:first-child td,
table.listing colgroup + thead tr:first-child th,
table.listing colgroup + thead tr:first-child td,
.yui-dt table colgroup + thead tr:first-child th,
.yui-dt table colgroup + thead tr:first-child td,
table.listing thead:first-child tr:first-child th,
table.listing thead:first-child tr:first-child td,
.yui-dt table thead:first-child tr:first-child th,
.yui-dt table thead:first-child tr:first-child td,
table.listing tbody:first-child tr:first-child th,
table.listing tbody:first-child tr:first-child td,
.yui-dt table tbody:first-child tr:first-child th,
.yui-dt table tbody:first-child tr:first-child td {
  border-top: 0;
}

table.listing caption + tbody,
.yui-dt table tbody + tbody {
  border-top: 2px solid #dddddd;
}

table.listing,
.yui-dt table {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

table.listing th,
table.listing td,
.yui-dt table th,
.yui-dt table td {
  border-left: 1px solid #dddddd;
}

table.listing thead:first-child tr:first-child th:first-child,
table.listing tbody:first-child tr:first-child td:first-child,
.yui-dt table thead:first-child tr:first-child th:first-child,
.yui-dt table tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

table.listing thead:first-child tr:first-child th:last-child,
table.listing tbody:first-child tr:first-child td:last-child,
.yui-dt table thead:first-child tr:first-child th:last-child,
.yui-dt table tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

table.listing thead:last-child tr:last-child th:first-child,
table.listing tbody:last-child tr:last-child td:first-child,
.yui-dt table thead:last-child tr:last-child th:first-child,
.yui-dt table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

table.listing thead:last-child tr:last-child th:last-child,
table.listing tbody:last-child tr:last-child td:last-child,
.yui-dt table thead:last-child tr:last-child th:last-child,
.yui-dt table tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

table.listing tbody tr:nth-child(odd) td,
table.listing tbody tr:nth-child(odd) th,
.yui-dt table tbody tr:nth-child(odd) td,
.yui-dt table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

table.listing tbody tr:hover td,
table.listing tbody tr:hover th,
.yui-dt table tbody tr:hover td,
.yui-dt table tbody tr:hover th {
  background-color: #f5f5f5;
}

/* =============================================================================
   TEMPLATE PORTAL
   ========================================================================== */
/* Hiden
-------------------------------------------------------------- */
.template-portal #LeftPane {
    display:none;
}
.template-portal #content-core,
.template-portal #region-content {
    width: 100%;
}

/* Widths
-------------------------------------------------------------- */
.template-portal .fixed-width {
    width:960px;
}
.template-workspace .fixed-width {
    width:98%;
}

/* template-* : both portal and workspace */
#pre-header {
        height:25px;
}
    #header-top-layer {
        top:0;
        position:relative;
        clear:none;
    } 
    #pre-header #processing_indicatron {
        padding:0.5em;
        width:auto;
        display:none;
        height:6em;
    }
    #header-tools {
        top:0;
        left:0;
        right:0;        
        margin:0 auto;        
        position:absolute;
        clear:none;
    }
        #portal-personaltools {
            padding:0;
            margin:0;
            text-align:right;
            top:0;
            position:relative;
        }
            #portal-personaltools li {
                display:inline;
            }        
    
#header {
    height:100%;
}
    #header-portal-languageselector {
        display:none;
    }   
    .template-portal #header-parl-banner {
        height: 90px;
        margin: 0 auto 0 auto;
        background: transparent url(../images/portal-banner.png) no-repeat;
    }
    .template-workspace #header-parl-banner {
        height: 90px;
        margin: 0 auto 0 auto;
        background: none;
    }   
    .template-workspace #portal-logo {
        background: transparent url(../images/empowered.png) center right no-repeat;
        display: block;
    }
        #portal-search {
            text-align:right;
            padding-top:30px;
        }
        .template-workspace #portal-search {
            margin-top: -30px;
        }
    #header div.header-primary-nav {
        position: relative;
        height: 30px; /* do not change this, change #header-parl-banner height instead */
        bottom: 0;
        margin: 3px auto 0 auto;      
    }
    #primary-nav {

    }    
    
#post-header {
    width:100%;
    height:27px; }
    
    #secondary-nav {

        }       
        
    #post-header ul li:first-child a {       
        padding-left:0px;
    }   

#portal-breadcrumbs {
    height: 20px;
    margin: 0 auto;
}
    #portal-breadcrumbs > span:first-child {
        
    }

div#content-wrapper {
    height: auto;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    background-color: tranparent;
}
    #doc-listing {
        padding:10px;
    }

#portal-footer {
    clear:both;
    height: 25px;
    position:relative;
    bottom: 0;
    color: #f79f10;
    text-align: center;
    margin:0 auto;
}
/* template-portal - generic module section */
.template-portal #header {
    
}
    .template-portal a#portal-logo img.ws-left, 
    .template-portal a#portal-logo img.ws-right {
        display: none;
    }  
    
    .template-portal #content-wrapper {
        margin:0 auto 10px auto;
    }

/* External Containers
-------------------------------------------------------------- */
.yui-dt, 
table {
    margin: 0 auto;
    width: 100%;
}


/* ContentActions
-------------------------------------------------------------- */
#contentActionMenus {
    margin:0;
    padding:0;
}
.contentActions ul {
    position: relative;
    float:right;
}
.contentActions li {
    float: left;
    height: 1.8em;
    line-height: 1.8em;
    margin-right:5px;
}
/* This was one harrowing experience. Can't explain it though, 
    just know its gotta be greater that 100% for the actions not to
    look cropped on webkit browsers. */
.contentActions li dl dt {
    width: 110%;
}
        .actionMenu.deactivated .actionMenuContent {
            display: none;
        }
        .actionMenu .actionMenuContent a {
             white-space:nowrap;
             padding-left:10px;
        }
        .actionMenu .actionMenuContent ul {
             width: 100%;
             height: auto;
         }        
         .actionMenu .actionMenuContent ul li {
             display: block;
             height:auto;
             width: 100%;
         }


/* =============================================================================
   TEMPLATE WORKSPACE
   ========================================================================== */s
.template-workspace #content-core, 
.template-workspace #region-content {
    width: 99.9%;
}


.template-workspace .field {
    margin-bottom: 15px;
}
textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    border: 1px solid #DDD;
    border-color: #666 #DDD #DDD #666;
    color: black;
    background: white url(../images/input_background.gif) repeat-x;
    width: 100%;
}

/* Splitter
-------------------------------------------------------------- */ 
.template-workspace .splitter {
    width:100%;
    min-height:700px;
    height: auto;
    margin: 0 auto;
    border-top: 0 none;
}

.ui-state-default { background-color: #fad156 }
.ui-state-hover { background-color: #21a1ba }
.ui-state-highlight { background-color: #fad156; }
.ui-state-error { background-color: #eaa }

.template-workspace .splitter-pane {
    overflow: auto;
    background-color:transparent;
}
.template-workspace .splitter-bar-vertical {
    width: 10px;
    border: 0 none !important;
    background: #fad156 url(../images/vgrabber.gif) no-repeat top !important;
    
    border-right:10px !important;
    border-right-color:#eeeeee !important;
    border-style:solid !important;
}
.template-workspace .splitter-bar-vertical-docked {
    width: 10px;
    background-image: url(../images/vdockbar-trans.gif);
    background-repeat: repeat-y;
    background-position: top;
    -moz-border-radius-topleft: 8px; 
    -moz-border-radius-bottomleft: 8px; 
    -webkit-border-top-left-radius:8px; 
    -webkit-border-bottom-left-radius:8px; 
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;		 	
}

.template-workspace .left-pane {
    background-color:#cccccc;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px; 
    -webkit-border-top-left-radius:8px; 
    -webkit-border-bottom-left-radius:8px;
}