
/* put live search box in the right place */
.field .LSBox {
	text-align: left;
	float: none;
}

.field .livesearchContainer {
	left: 0px;
	right: auto;
}

.field .livesearchContainer legend {
	display:none;
}

.field .LSShadow {
	text-align: left;
}
