%(instance)s
%(instance_home)s
instancehome $INSTANCEHOME

products $INSTANCE/parts/svnproducts
debug-mode %(debug_mode)s

<eventlog>
    level INFO
    <logfile>
        path $INSTANCE/var/log/instance.log
        level INFO
  </logfile>
</eventlog>

<logger access>
    level WARN
    <logfile>
        path $INSTANCE/var/log/instance-Z2.log
        format %(message)s
    </logfile>
</logger>

<zodb_db main>
    # Main database
    cache-size 10000
    
# Blob-enabled FileStorage database
    <blobstorage>
        blob-dir $INSTANCE/var/blobstorage
        <filestorage>
            path $INSTANCE/var/filestorage/Data.fs
        </filestorage>
    </blobstorage>
    mount-point /
</zodb_db>

<zodb_db temporary>
    # Temporary storage database (for sessions)
    <temporarystorage>
        name temporary storage for sessioning
    </temporarystorage>
    mount-point /temp_folder
    container-class Products.TemporaryFolder.TemporaryContainer
</zodb_db>

<environment>
  TMPDIR /var/tmp
</environment>
