Section: misc
Priority: optional
Maintainer: Ashok Hariharan <ashok@parliaments.info>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.bungeni.org
Package: bungeni
Version: __BUNGENI_VER__
Architecture: __ARCH__
Installed-Size: __SIZE__
Depends: __DEPENDS__
Description: Bungeni Legislative Information Management
 Bungeni Legislative Information Management System is an open source system
 for managing parliamentary processes and metadata. 
