#[  $Id$ ]#

$begin{content_actions} #[ portlet-contentactions.pt ]#
$if{ devmode }<!-- template: bungeni/templates/ploned.html#content_actions
$Id$
-->$fi
$if{ len(view.context_actions)>1 }
<dl class="portlet">
    <dt class="portletHeader">
        <span class="portletTopLeft"></span>
        ${i18n("View")}
        <span class="portletTopRight"></span>
    </dt>
    <dd class="portletItem even">
        <ul class="contentViewsLeftPort">
        $for{ action in view.context_actions }
            <li class="${action['selected'] or 'plain'}">
                <a href="${ action['url'] or action['action']
                                        }">${i18n(action['title'])}</a>
            </li>
        $rof
        </ul>
    </dd>
    
    #[
    <dd class="portletFooter">
        <span class="portletBottomLeft"></span>
        &nbsp;
        <span class="portletBottomRight"></span>
    </dd>
    ]#
</dl>
$fi
$end{content_actions}



$begin{action_menus} #[ plond/ui/templates/contentmenu.pt ]#
$if{ devmode }<!-- template: bungeni/templates/ploned.html#action_menus
$Id$
-->$fi
#[ i18n:domain="plone" ]#
$if{ view.available() }
<ul id="contentActionMenus">
    $for{ menu_item in view.menu() }
    <li class="${ menu_item['extra']['id'] }">
        #[ tal:define="submenu menuItem/submenu;
                       state menuItem/extra/state|nothing" ]#
        #[ tal:omit-tag="menuItem/extra/hideChildren | nothing" ]#
        $if{ not menu_item["submenu"] or 
             len(menu_item["submenu"]) or 
             menuItem["extra"].get("state", None)
        }
        <dl class="actionMenu" id="${ menu_item['extra']['id'] }">
            #[ tal:omit-tag="menuItem/extra/hideChildren | nothing" ]#
            <dt class="actionMenuHeader label-${
                                menu_item['extra'].get('class', '') }">
                $if{ menu_item["action"] } 
                <a href="${ menu_item['url'] or menu_item['action'] 
                   }" $if{ menu_item['description'] 
                   }title="${ i18n(menu_item['description']) }"$fi>
                $fi
                    $evoque{ #menu_item_label, 
                        menu_item=menu_item, css_class="menuTitle" }
                    $if{ menu_item["extra"].get("stateTitle", None) }
                    <span$if{ menu_item['extra'].get('class', None) 
                         } class="${ menu_item['extra']['class'] }"$fi>
                        ${ i18n(menu_item["extra"]["stateTitle"]) }
                    </span>
                    $fi
                    $if{ not menu_item["extra"].get("hideChildren", True) or 
                         menu_item["submenu"] }
                    <span class="arrowDownAlternative">&#9660;</span>
                    $fi
                $if{ menu_item["action"] }
                </a>
                $fi
            </dt>
            $if{ not menu_item["extra"].get("hideChildren", True) or 
                 menu_item["submenu"] }
            <dd class="actionMenuContent">
                <ul>
                    $for{ sub_menu_item in menu_item.get("submenu") or [] }
                    <li class="${ sub_menu_item['extra'].get('separator', 'separator') }">
                        $if{ sub_menu_item["action"] }
                        <a id="${ sub_menu_item['extra'].get('id', '') 
                           }" class="${ sub_menu_item.get('selected', '') 
                           }" href="${ sub_menu_item['url'] or sub_menu_item['action'] 
                           }"$if{ sub_menu_item['description'] }
                              title="${ i18n(sub_menu_item['description']) }"$fi>
                            $evoque{ #menu_item_label, 
                                menu_item=sub_menu_item, css_class="subMenuTitle" }
                        </a>
                        $else
                        <div id="${ sub_menu_item['extra'].get('id', '') }"
                            class="${ sub_menu_item['extra'].get('class', '') }">
                            $if{ sub_menu_item.get("selected") }&bull;$fi
                            $evoque{ #menu_item_label, 
                                menu_item=sub_menu_item, css_class="subMenuTitle" }
                        </div>
                        $fi
                    </li>
                    $rof
                </ul>
            </dd>
            $fi
        </dl>
        $fi
    </li>
    $rof
</ul>
$fi
$end{action_menus}

$begin{menu_item_label}
    #[ !+MENU_ICON(mr, aug-2010) remove, icon is always managed via CSS ]#
    $if{ menu_item["icon"] }
    <img width="16" height="16"
         alt="${ menu_item['description'] }" #[ i18n ]#
         src="${ menu_item['icon'] }" />
    $fi
    <span class="${css_class}">${ i18n(menu_item["title"]) }</span>
$end{menu_item_label}

