#[ $Id$ ]#



#[ was: ui/viewlets/templates/workspace_item_viewlet.pt ]#
$begin{items}
<!-- template: bungeni/templates/workspace_viewlets.html#items -->
<dt class="portletHeader" id="fieldsetlegend-${view.list_id}">
    <span>${i18n(view.name)}</span>
</dt>
<dd id="fieldset-${view.list_id}" class="portletItem">
    $if{view.getData()}
    <table id="workspace-table-${view.list_id}" class="listing grid">
        <thead>
            <tr>
                <th>${i18n("Subject")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Status")}</th>
                <th>${i18n("Status date")}</th>
                <th>${i18n("Owner")}</th>
                <th>${i18n("To")}</th>
            </tr>
        </thead>
        <tbody>
            $for{result in view.getData()}
            <tr $if{result.get("css_class")}class="${result['css_class']}"$fi>
                <td><a href="${result['url']}">${result["subject"]}</a></td>
                <td>${i18n(result["type"])}</td>
                <td>${i18n(result["status"])}</td>
                <td>${result["status_date"]}</td>
                <td>${result["owner"]}</td>
                <td>${result["to"]}</td>
            </tr>
            $rof
        </tbody>
    </table>
    $fi
</dd>
$end{items}


#[ was: ui/viewlets/templates/mp_item_viewlet.pt ]#
$begin{mp_items}
<!-- template: bungeni/templates/workspace_viewlets.html#mp_items -->
<dt id="fieldsetlegend-${view.view_id}">
  ${i18n(view.view_name)}
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Type")}</th>
                <th>${i18n("Title")}</th>
                <th>${i18n("Status")}</th>
                <th>${i18n("Submission date")}</th>
            </tr>
        </thead>
        <tbody>
            $for{result in view.results()}
            <tr>
                <td>${i18n(result["type"])}</td>
                <td><a href="${result['url']}">${result["short_name"]}</a></td>
                <td>${i18n(result["status"])}</td>
                <td>${view.formatter.format(result['submission_date'])}</td>
            </tr>
            $rof
        </tbody>
  </table>
</dd>
$end{mp_items}


#[ was: ui/viewlets/templates/workspace_sitting_viewlet.pt ]#
$begin{sittings}
<!-- template: bungeni/templates/workspace_viewlets.html#sittings -->
<dt class="portletHeader" id="fieldsetlegend-${view.list_id}">
    <span>${i18n(view.name)}</span>
</dt>
<dd id="fieldset-${view.list_id}" class="portletItem">
    $if{view.getData()}
    <table id="workspace-table-${view.list_id}" class="listing grid">
        <thead>
            <tr>
                <th>${i18n("Date")}</th>
                <th>${i18n("Venue")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Group")}</th>
                <th>${i18n("Status")}</th>
            </tr>
        </thead>
        <tbody>
            $for{result in view.getData()}
            <tr class="${result["css_class"]}">
                <td><a href="${result['url']}">${result["date"]},
                    ${result["time_from_to"][0]} - ${result["time_from_to"][1]}
                    </a></td>
                <td>${result["venue"]}</td>
                <td>${result["sitting_type"]}</td>
                <td>${result["group"]}</td>
                <td>${i18n(result["status"])}</td>
            </tr>
            $rof
        </tbody>
    </table>
    $fi
</dd>
$end{sittings}


$begin{scheduled}
<!-- template: bungeni/templates/workspace_viewlets.html#scheduled -->
<dt class="portletHeader" id="fieldsetlegend-${view.list_id}">
    <span>${i18n(view.name)}</span>
</dt>
<dd id="fieldset-${view.list_id}" class="portletItem">
    $if{view.getData()}
    <table id="workspace-table-${view.list_id}" class="listing grid">
        <thead>
            <tr>
                <th>${i18n("Subject")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Status")}</th>
                #[ <th>${i18n("Status date")}</th> ]#
                <th>${i18n("Owner")}</th>
                <th>${i18n("To")}</th>
                <th>${i18n("Sittings start")}</th>
                <th>${i18n("Sittings status")}</th>
            </tr>
        </thead>
        <tbody>
            $for{result in view.getData()}
            <tr $if{result.get("css_class")}class="${result['css_class']}"$fi>
                <td><a href="${result['url']}">${result["subject"]}</a></td>
                <td>${i18n(result["type"])}</td>
                <td>${i18n(result["status"])}</td>
                #[ <td>${result["status_date"]}</td> ]#
                <td>${result["owner"]}</td>
                <td>${result["to"]}</td>
                <td>${xml("<br/>".join(result["sittings_start"]))}</td>
                <td>${xml("<br/>".join(result["sittings_status"]))}</td>
            </tr>
            $rof
        </tbody>
    </table>
    $fi
</dd>
$end{scheduled}

#[ was: ui/forms/templates/timeline_viewlet.pt ]#
$begin{timeline}
<!-- template: bungeni/templates/workspace_viewlets.html#timeline -->
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_name)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Type")}</th>
                <th>${i18n("Description")}</th>
                <th>${i18n("Date")}</th>
            </tr>
        </thead>
        <tbody>
            $for{data in view.results}
            <tr> 
                <td><span>${i18n(data["atype"])}</span></td>
                <td><span>${xml(data["description"])}</span></td>
                <td><span>${view.formatter.format(data['adate'])}</span></td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{timeline}

