#[ $Id$ ]#

#[ !+CONVERGE_SIMILAR_TEMPLATES(mr, oct-2010) several templates here are 
    very similar -- with moving more of the data preparaton and localization 
    to handler code, and few additional parameters e.g. columns, data, 
    most of these templates may be collapsed into one 
]#

#[ was: ui/viewlets/templates/workspace_item_viewlet.pt ]#
$begin{items}
<dt class="portletHeader" id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}" class="portletItem">
    $if{view.items}
    <table id="workspace-table-${view.view_id}" class="listing grid">
        <thead>
            <tr>
                <th>${i18n("Subject")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Status")}</th>
                <th>${i18n("Status date")}</th>
                <th>${i18n("Owner")}</th>
                <th>${i18n("To")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr $if{item.get("css_class")}class="${item['css_class']}"$fi>
                <td><a href="${item['url']}">${item["subject"]}</a></td>
                <td>${i18n(item["type"])}</td>
                <td>${i18n(item["status"])}</td>
                <td>${item["status_date"]}</td>
                <td>${item["owner"]}</td>
                <td>${item["to"]}</td>
            </tr>
            $rof
        </tbody>
    </table>
    $fi
</dd>
$end{items}

#[ was: ui/viewlets/templates/workspace_group_viewlet.pt ]#
$begin{groups}
<dt class="portletHeader" id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}" class="portletItem">
    $if{view.items}
    <table id="workspace-table-${view.view_id}" class="listing grid">
        <thead>
            <tr>
                <th>${i18n("Subject")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Status")}</th>
                <th>${i18n("Status date")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr $if{item.get("css_class")}class="${item['css_class']}"$fi>
                <td><a href="${item['url']}">${item["subject"]}</a></td>
                <td>${i18n(item["type"])}</td>
                <td>${i18n(item["status"])}</td>
                <td>${item["status_date"]}</td>
            </tr>
            $rof
        </tbody>
    </table>
    $fi
</dd>
$end{groups}

#[ was: ui/viewlets/templates/mp_item_viewlet.pt ]#
$begin{mp_items}
<dt id="fieldsetlegend-${view.view_id}">
  ${i18n(view.view_title)}
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Type")}</th>
                <th>${i18n("Title")}</th>
                <th>${i18n("Status")}</th>
                <th>${i18n("Submission date")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr>
                <td>${i18n(item["type"])}</td>
                <td><a href="${item['url']}">${item["short_name"]}</a></td>
                <td>${i18n(item["status"])}</td>
                <td>${view.formatter.format(item['submission_date'])}</td>
            </tr>
            $rof
        </tbody>
  </table>
</dd>
$end{mp_items}


#[ was: ui/viewlets/templates/workspace_sitting_viewlet.pt ]#
$begin{sittings}
<dt class="portletHeader" id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}" class="portletItem">
    $if{view.items}
    <table id="workspace-table-${view.view_id}" class="listing grid">
        <thead>
            <tr>
                <th>${i18n("Date")}</th>
                <th>${i18n("Venue")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Group")}</th>
                <th>${i18n("Status")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr class="${item["css_class"]}">
                <td><a href="${item['url']}">${item["date"]},
                    ${item["time_from_to"][0]} - ${item["time_from_to"][1]}
                    </a></td>
                <td>${item["venue"]}</td>
                #[
!+SITTING_TYPE(mr, sep-2010) the following key lookup is changed to a get() 
call to glaze over the cases when a sitting.sitting_type is not set.
For more context see this email thread:
http://groups.google.com/group/bungeni-dev/browse_thread/thread/2d46b20634798b5e
                ]#
                <td>${item.get("group_sitting_type", "")}</td>
                <td>${item["group"]}</td>
                <td>${i18n(item["status"])}</td>
            </tr>
            $rof
        </tbody>
    </table>
    $fi
</dd>
$end{sittings}

#[ was: a generic ui.forms.viewlets.SubformViewlet (auto db model reflection) ]#
$begin{group_sittings}
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Date")}</th>
                <th>${i18n("Venue")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr> 
                <td><a href="${item['url']}">${item["date_from_to"]}</a></td>
                <td>${item["venue"]}</td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{group_sittings}


$begin{scheduled}
<dt class="portletHeader" id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}" class="portletItem">
    $if{view.items}
    <table id="workspace-table-${view.view_id}" class="listing grid">
        <thead>
            <tr>
                <th>${i18n("Subject")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Status")}</th>
                #[ <th>${i18n("Status date")}</th> ]#
                <th>${i18n("Owner")}</th>
                <th>${i18n("To")}</th>
                <th>${i18n("Sittings start")}</th>
                <th>${i18n("Sittings status")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr $if{item.get("css_class")}class="${item['css_class']}"$fi>
                <td><a href="${item['url']}">${item["subject"]}</a></td>
                <td>${i18n(item["type"])}</td>
                <td>${i18n(item["status"])}</td>
                #[ <td>${item["status_date"]}</td> ]#
                <td>${item["owner"]}</td>
                <td>${item["to"]}</td>
                <td>${xml("<br/>".join(item["sittings_start"]))}</td>
                <td>${xml("<br/>".join(item["sittings_status"]))}</td>
            </tr>
            $rof
        </tbody>
    </table>
    $fi
</dd>
$end{scheduled}


#[ was: ui/forms/templates/timeline_viewlet.pt ]#
$begin{timeline}
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Type")}</th>
                <th>${i18n("Description")}</th>
                <th>${i18n("Date")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr> 
                <td><span>${i18n(item["atype"])}</span></td>
                <td><span>${xml(item["description"])}</span></td>
                <td><span>${view.formatter.format(item['adate'])}</span></td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{timeline}


#[ was: ui/forms/templates/offices_held_viewlet.pt ]#
$begin{offices_held}
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Office")}</th>
                <th>${i18n("Type")}</th>
                <th>${i18n("Title")}</th>
                <th>${i18n("From")}</th>
                <th>${i18n("To")}</th>
            </tr>
        </thead>
        <tbody>
            $for{ item in view.items }
            <tr> 
                <td><span>${item["group"]}</span></td>
                <td><span>${item["group_type"]}</span></td>
                <td><span>${item["member_title"]}</span></td>
                <td><span>${item["start_date"]}</span></td>
                <td><span>${item["end_date"]}</span></td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{offices_held}

#[ was: a generic ui.forms.viewlets.SubformViewlet (auto db model reflection) ]#
$begin{group_members}
<dt id="fieldsetlegend-${view.view_id}">
    <span>${i18n(view.view_title)}</span>
</dt>
<dd id="fieldset-${view.view_id}">
    <table class="listing">
        <thead>
            <tr>
                <th>${i18n("Name")}</th>
                <th>${i18n("Start")}</th>
                <th>${i18n("End")}</th>
            </tr>
        </thead>
        <tbody>
            $for{item in view.items}
            <tr> 
                <td><a href="${item['url']}">${item["combined_name"]}</a></td>
                <td><span>${item["start_date"]}</span></td>
                <td><span>${item["end_date"]}</span></td>
            </tr>
            $rof
        </tbody>
    </table>
</dd>
$end{group_members}
#[
    !+i18n_CodeOrTemplates(mr, oct-2010)
    localization calls, for text/date values, are currently sometimes made in 
    application python code and other times in the templates (that is messy,
    and in some cases text is "twice-localized"! For clarity and consistency,
    we should standardize where all localization is to be done -- either ALL
    in the view handling python code or ALL in the template.
    
    An argument against localizing in the template is that it is not always 
    possible or convenient e.g. 
    - in the #group_members template, it is quite cumbersome to localize a 
    date (that may be None) as formatter.format(None) will give an error, 
    so need to check for a None date each time;
    - in the #offices_held template, localizing "group" is also cumbersome, 
    as it is the combined result of a number of individually localized pieces
    of text. 
]#

