[buildout]
extends = buildout.cfg
index = %(bungeni_local_index)s

[postgresql]
url = %(postgresql_local_url)s

[xapian]
url = %(xapian_local_url)s

[xapian-bindings]
url = %(xapian_bindings_local_url)s


