.template-memberspace_view  .containers {
    float:left;
    clear: both;
}

.template-memberspace_view  .containers h2 {

}

.template-memberspace_view  div.containers {
    background: none repeat scroll 0 0 #fffff;
    border-bottom: 1px solid #8CACBB;
    border-right: 1px solid #8CACBB;
    border-top: 1px solid #8CACBB;
    border-left: 1px solid #8CACBB;
    font-weight: normal;
    padding: 0.25em 1em;
    margin-right: 5em;
}

.template-memberspace_view  #flowpanes {
    background: none repeat scroll 0 0 #DEE7EC;
    border: 2px solid #024395;

}
.template-memberspace_view #flowpanes dt a {
    color: black !important;
}

.template-memberspace_view  dd {
    color: grey;
    margin-bottom: 12px !important;
}


